{%- assign tab = include.tab -%}

<p>The following products I have built for use with the <a href="https://www.bludit.com/" target="_blank" rel="noopener noreferrer">Bludit</a>  content management system, which static files to store data rather than a traditional database system as used by WordPress.</p>

<section class="product downloads-page">

	<h3>Configure 8 Suite</h3>

	<p>The Configure & suite of products, one theme and several plugins, were designed to work together. But the plugins can be used without the theme.</p>

	<p>Each product is available for individual download or you can download all in a ZIP bundle.</p>

	<p>More info at  <a href="https://ccdzine.com/projects/configure-8/" target="_blank" rel="noopener noreferrer">https://ccdzine.com/projects/configure-8/</a></p>

</section>
<section class="product downloads-page">

	<h3>Configure 8 theme</h3>

	<p><a href="https://github.com/BaselessCMS/configureight" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/configureight</a></p>

</section>
<section class="product downloads-page">

	<h3>Configure 8 plugin</h3>

	<p><a href="https://github.com/BaselessCMS/configureight-plugin" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/configureight-plugin</a></p>

</section>
<section class="product downloads-page">

	<h3>Configure 8 admin theme</h3>

	<p><a href="https://github.com/BaselessCMS/configureight-admin" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/configureight-admin</a></p>

</section>
<section class="product downloads-page">

	<h3>Configure 8 Dashboard</h3>

	<p><a href="https://github.com/BaselessCMS/configureight-dashboard" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/configureight-dashboard</a></p>

</section>
<section class="product downloads-page">

	<h3>Post Comments</h3>

	<p><a href="https://github.com/BaselessCMS/post-comments" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/post-comments</a></p>

</section>
<section class="product downloads-page">

	<h3>User Profiles</h3>

	<p><a href="https://github.com/BaselessCMS/user-profiles" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/user-profiles</a></p>

</section>
<section class="product downloads-page">

	<h3>Search Forms</h3>

	<p><a href="https://github.com/BaselessCMS/search-forms" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/search-forms</a></p>

</section>
<section class="product downloads-page">

	<h3>Breadcrumbs</h3>

	<p><a href="https://github.com/BaselessCMS/breadcrumbs" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/breadcrumbs</a></p>

</section>
<section class="product downloads-page">

	<h3>Categories Lists</h3>

	<p><a href="https://github.com/BaselessCMS/categories-lists" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/categories-lists</a></p>

</section>
<section class="product downloads-page">

	<h3>Tags Lists</h3>

	<p><a href="https://github.com/BaselessCMS/tags-lists" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/tags-lists</a></p>

</section>
<section class="product downloads-page">

	<h3>Pages Lists</h3>

	<p><a href="https://github.com/BaselessCMS/pages-lists" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/pages-lists</a></p>

</section>
<section class="product downloads-page">

	<h3>Posts Lists</h3>

	<p><a href="https://github.com/BaselessCMS/posts-lists" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/posts-lists</a></p>

</section>
<section class="product downloads-page">

	<h3>Meta Data</h3>

	<p><a href="https://github.com/BaselessCMS/meta-data" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/meta-data</a></p>

</section>
<section class="product downloads-page">

	<h3>jQuery</h3>

	<p><a href="https://github.com/BaselessCMS/meta-data" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/meta-data</a></p>

</section>
<section class="product downloads-page">

	<h3>Recovery Points</h3>

	<p><a href="https://github.com/BaselessCMS/recovery-points" target="_blank" rel="noopener noreferrer">https://github.com/BaselessCMS/recovery-points</a></p>

</section>
