{%- assign tab = include.tab -%}

<p>I don't have anything built specifically for <a href="https://classicpress.net" target="_blank" rel="noopener noreferrer">ClassicPress</a> but my <a href="https://wordpress.org" target="_blank" rel="noopener noreferrer">WordPress</a> products are built with ClassicPress in mind and they will all work with either content management system.</p>

<h3>Site Core Plugin</h3>

<p>This plugin I built to save myself time writing plugins that are specific to client websites. It is compatible with Advanced Custom Fields.</p>

<p>Included are several base classes for adding features for your website project. Simply extend the relevant class. Sample, starter files for each are provided to copy, rename, and develop for your needs.</p>

<ul>
	<li>Register post types</li>
	<li>Register taxonomies</li>
	<li>Register widget types</li>
	<li>Register shortcodes</li>
	<li>Admin pages</li>
	<li>Admin subpages</li>
	<li>Title filters</li>
	<li>Content filters</li>
	<li>ACF options pages</li>
	<li>ACF options subpages</li>
</ul>

<p><a href="https://github.com/CCDzine-Builds/sitecore" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/sitecore</a></p>

<h3>Site More Plugin</h3>

<p>This was built to extend the Site Core plugin so that you can develop Site Core into your your own core plugin used for all of your websites then use Site More for site-specific features.</p>

<p><a href="https://github.com/CCDzine-Builds/sitemore" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/sitemore</a></p>

<h3>Front Core Theme</h3>

<p><a href="https://github.com/CCDzine-Builds/frontcore" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/frontcore</a></p>

<h3>Front More Theme</h3>

<p><a href="https://github.com/CCDzine-Builds/frontmore" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/frontmore</a></p>

<h3>Manage Image Sizes</h3>

<p><a href="https://github.com/CCDzine-Builds/manage-image-sizes" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/manage-image-sizes</a></p>

<h3>Dashboard Summary</h3>

<p><a href="https://github.com/CCDzine-Builds/dashboard-summary-widget" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/dashboard-summary-widget</a></p>

<h3>Posts to News</h3>

<p><a href="https://github.com/CCDzine-Builds/posts-to-news" target="_blank" rel="noopener noreferrer">https://github.com/CCDzine-Builds/posts-to-news</a></p>
