{%- assign tab = include.tab -%}

Owning a website is more work than simply paying your web host bill. Some content may need to be freshened up regularly and new content added, images should be properly managed, including correct sizes and metadata, and security updates should be made soon after their release.

If having these tasks piled onto your plate is too much then I can help with a maintenance program. And if you don't have time to write new content when necessary then I can do that too.
