{%- assign tab = include.tab -%}

<p>If you need a website and don't know how to start, or if you want to completely overhaul an existing site, then let's talk about your project. Please do not be shy in asking for help with a small task.</p>

<h3>Website Design</h3>

<p>There is more to designing a website than picking out some fonts and colors that you like. In fact, what you like is not nearly as important as whether the website achieves its goals. While typography and palette (fonts and colors) typically plays a role in the success of a website, more important considerations are the ease with which a user can navigate your website and whether they can do so on any device they may have.</p>

<p>I can help you sort out all of that.</p>

<h3>Graphic Design</h3>

<p>Need a logo? How about a custom set of icons? Maybe your social media images need custom text added in keeping with your brand of website style. Just ask.</p>
