{%- assign tab = include.tab -%}

<p>If you need a website and don't know how to start, or if you want to completely overhaul an existing site, then let's talk about your project.</p>

<p>Please do not be shy in asking for help with a small task. Sometimes folks are embarrassed to ask because think the task should be easy and obvious, but I assure you that I have been there and needed guidance myself.</p>

<h3>Website Design</h3>

<p>Bacon ipsum dolor amet filet mignon rump ball tip flank burgdoggen picanha pastrami chuck jerky turkey andouille short ribs pig cupim. Rump burgdoggen chicken picanha flank biltong. Tail pork loin short ribs filet mignon, shank landjaeger tongue cow bacon shankle pork chop alcatra porchetta chislic beef ribs.</p>

<p><a href="/web-design/" class="read-more-link">Read More</a></p>

<h3>Graphic Design</h3>

<p>Bacon ipsum dolor amet filet mignon rump ball tip flank burgdoggen picanha pastrami chuck jerky turkey andouille short ribs pig cupim. Rump burgdoggen chicken picanha flank biltong. Tail pork loin short ribs filet mignon, shank landjaeger tongue cow bacon shankle pork chop alcatra porchetta chislic beef ribs.</p>
