///
/// Posts loop with list display
///

@use '../../modules/layout';
@use '../../modules/colors';

.posts-repo.repo-view-list {

	.entry-article {
		width: 100%;
		max-width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 3fr;
		gap: 0 calc( var( --ccd-spacing--x ) * 0.75 );
		grid-template-areas:
			"thumb header  header"
			"thumb summary summary";
		margin-top: var( --ccd-spacing--x, 2rem );
		padding-top: var( --ccd-spacing--x, 2rem );
		border-top: var( --ccd-box--border, none );

		@media screen and ( max-width: layout.$bp_sm ) {
			display: flex;
			flex-direction: column;
			gap: calc( var( --ccd-spacing--x ) / 1 ) 0;
		}
	}

	.entry-image {
		grid-area: thumb;
		position: relative;
		overflow: hidden;
		width: 240px;
		height: 180px;
		transform: translateY( 0.25rem );

		@media screen and ( max-width: layout.$bp_sm ) {
			order: 1;
			width: unset;
			height: unset;
			transform: none;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
			border: 0;
		}
	}

	.entry-header {
		grid-area: header;

		@media screen and ( max-width: layout.$bp_sm ) {
			order: 0;
		}

		.entry-title {
			margin: 0;
			line-height: 95%;
		}
		.entry-subtitle {
			margin-top: 0.5rem;
			font-size: 1.0625rem;
			font-weight: 550;
			line-height: 1.375;
		}
	}

	.entry-summary {
		grid-area: summary;

		@media screen and ( max-width: layout.$bp_sm ) {
			order: 2;
		}

		.entry-footer {
			margin-top: 0.5rem;
			font-family: var( --ccd-fonts--secondary-stack );
			font-size: 0.875em;
			line-height: 1.35;

			.entry-footer-label {
				border: 0;
				clip: rect( 1px, 1px, 1px, 1px );
				clip-path: inset( 50% );
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute !important;
				width: 1px;
				word-wrap: normal !important;
			}
			.entry-footer-icon {
				svg {
					height: 1.25em;
					vertical-align: middle;
					vertical-align: center;
				}
			}
			.entry-footer-links {
				display: inline-flex;
				flex-wrap: wrap;
				gap: 0.125em 0.5em;
				line-height: 1.3;

				a {
					font-weight: 450;
					color: var( --ccd-color--two--dark );
				}
			}
		}
		.entry-link {
			font-weight: 625;

			svg {
				display: inline-block;
				vertical-align: middle;
				vertical-align: center;
				height: 1em;
				transform: translateX( 0.25em );
			}
		}
	}
}
