///
/// Posts loop with list display
///

@use '../../modules/colors';

.posts-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.posts-entry {
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: grid;
	gap: 0 calc( var( --ccd-spacing--x ) * 0.75 );
	grid-template-areas:
		"thumb header  header"
		"thumb summary summary";
	margin-top: var( --ccd-spacing--x, 2rem );
	padding-top: var( --ccd-spacing--x, 2rem );
	border-top: var( --ccd-box--border, none );
}

.entry-image {
	grid-area: thumb;
	position: relative;
	overflow: hidden;
	width: 240px;
	height: 180px;
	transform: translateY( 0.5rem );

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		border: 0;
	}
}

.entry-header {
	grid-area: header;

	.post-title {
		margin: 0;
		line-height: 1.2;
	}
	.post-subtitle {
		margin: 0;
		font-size: 1.0625rem;
		font-weight: 550;
		line-height: 1.2;
	}
}

.entry-summary {
	grid-area: summary;

	.post-meta {
		margin-top: 0.5rem;
		font-family: var( --ccd-fonts--secondary-stack );
		font-size: 0.875em;
		line-height: 1.35;

		p { margin: 0; }
	}

	.post-tags {
		margin: 0;
	}
	.post-tags-list {
		display: inline-flex;
		gap: 0.325em;

		a {
			&:not( :last-of-type ) {
				&:after {
					content: ',';
				}
			}
		}
	}
	.post-excerpt-link {
		font-weight: 500;

		svg {
			display: inline-block;
			vertical-align: middle;
			vertical-align: center;
			height: 1.5em;
		}
	}
}
