///
/// Single post page
///

.post-page {

	.post-article {
		margin-top: var( --ccd-spacing--y );
	}

	.post-title {
		margin: 0;
		line-height: 80%;
	}

	.post-subtitle {
		margin-top: 1rem;
		line-height: 1.35;
	}

	.post-cover {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 360px;

		.post-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: var( --ccd-overlay--bg-color );
			}
		}

		img {
			display: block;
			object-fit: cover;
			object-position: center center;
		}

		> div {
			position: relative;
			z-index: 100;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: var( --ccd-spacing--y ) var( --ccd-spacing--x );
			padding: var( --ccd-spacing--y ) var( --ccd-spacing--x );

			* {
				color: #ffffff !important;
			}
		}
	}

	.post-footer {
		margin-top: var( --ccd-spacing--y );

		.post-cats,
		.post-tags {
			margin: 0;
		}
	}

	.post-cats-list,
	.post-tags-list {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0.5em;
	}

	.post-content {
		margin-top: var( --ccd-spacing--y );

		// Padding presumes first element has margin top of the same.
		padding-top: calc( var( --ccd-spacing--y ) / 2 );
		border-top: var( --ccd-box--border );
	}

	.post-nav-link {
		display: inline-flex;
		align-items: center;
		flex-wrap: nowrap;
		gap: 0 0.5em;
	}
}

.rtl {
	.post-page {
		.post-nav-icon {
			transform: scaleX(-1);
		}
	}
}

// Post gallery
.post-gallery {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;

	figure {
		width: 180px;
		height: 180px;
		overflow: hidden;
	}

	figcaption {
		display: none;
	}

	img {
		display: block;
		object-fit: cover;
		object-position: center center;
		width: 100%;
		height: 100%;
	}
}

// Navigation
#post-navigation {
	margin-top: var( --ccd-spacing--y );
}

.post-navigation {
	list-style: none;
	display: flex;
	justify-content: space-between;

	li {
		font-weight: 600;
	}

	svg {
		display: inline-block;
		height: 1em;
		vertical-align: middle;
		vertical-align: center;
	}
}
