{% assign footer = include.id %}
<footer id="section-footer" data-anchor="footer" class="front-page-section site-footer">
	<img class="section-bg-image" src='{{ "assets/img/bamboo.jpg" | relative_url }}' role="presentation" />
	<div class="sections-nav fp-nav-y fp-nav-up">
		<button class="scroll-up" title='{{ posts.title | default: "Latest Posts" }}' data-tooltip>{%- include svg/angle-up.svg -%}</button>
	</div>
	<div class="site-info">
		<div class="general-wrap">
		</div>
	</div>
	<p class="final-message">No copyright. No synths!</p>
</footer>