{%- assign intro   = include.section -%}
{%- assign file    = intro.avatar_image | default: site.data.owner.owner.avatar.file -%}
{%- assign alt     = intro.avatar_alt | default: site.data.owner.owner.avatar.alt -%}
{%- assign caption = intro.avatar_caption | default: site.data.owner.owner.avatar.caption -%}
{%- assign width   = intro.avatar_width | default: "160px" -%}
{%- assign style   = width | prepend: 'style="min-width: ' | append: '"' -%}

<section id="section-intro" data-anchor="intro" class="front-page-section fp-auto-height-responsive">

	<div class="front-page-content section-wrap">
		<header class="front-intro-hearder">
			{%- if page.title -%}
			<h2 id="{{ page.title | slugify }}" class="section-heading page-title">{{ page.title }}</h2>
			{%- endif -%}

			{%- if page.subtitle -%}
			<p class="page-subtitle">{{ page.subtitle }}</p>
			{%- endif -%}
		</header>

		<div class="layout columns responsive front-intro-columns">
			<figure class="captioned-image front-intro-avatar" {{ style }}>
				<a href='{{ file | prepend: "assets/img/" | absolute_url }}' data-fancybox data-caption="{{ caption }}">
					<img src='{{ file | prepend: "assets/img/" | absolute_url }}' alt="{{ alt }}" class="avatar" />
				</a>
				<figcaption>{{ caption }}</figcaption>
			</figure>
			<div class="front-page-content front-intro-content">
				{{ intro.content }}
			</div>
		</div>
	</div>
</section>
