{% assign services = include.section %}
{% assign services_page = site.pages | where: 'front', 'services' %}

{%- capture tabs -%}
	{%- if services_page[0].tabs -%}
		{{ services_page[0].tabs }}
	{%- else -%}
		{{ false }}
	{%- endif -%}
{%- endcapture -%}

{{ tabs | inspect }}

<section id="section-services" data-anchor="services" class="front-page-section fp-auto-height-responsive">

	<div class="section-wrap">

		{%- if services.title and services.title != blank %}
		<h2 class="section-heading">{{ services.title }}</h2>
		{% endif -%}

		<div class="front-page-content front-services-content">
			{{ services.content -}}
		</div>

		{%- include featured-services-grid.html -%}
	</div>
</section>
