{%- assign section   = include.section -%}
{%- assign get_pages = site.pages | where: 'front', 'services' -%}
{%- assign services  = get_pages[0] -%}

{%- capture tabs -%}
	{%- if services.tabs -%}
		{{ services.tabs }}
	{%- else -%}
		{{ false }}
	{%- endif -%}
{%- endcapture -%}

<section id="section-services" data-anchor="services" class="front-page-section fp-auto-height-responsive">

	<div class="section-wrap">

		{%- if section.title and section.title != blank %}
		<h2 class="section-heading">{{ section.title }}</h2>
		{% endif -%}

		<div class="front-page-content front-services-content">
			{{ services.content | markdownify -}}
		</div>

		{%- if tabs != false -%}
		{%- include featured-services-grid.html page=services -%}
		{%- endif -%}
	</div>
</section>
