{%- assign services = include.section -%}
{%- assign pages    = site.pages | where: 'front', 'services' -%}
{%- assign page     = pages[0] -%}

{%- capture tabs -%}
	{%- if page.tabs -%}
		{{ page.tabs }}
	{%- else -%}
		{{ false }}
	{%- endif -%}
{%- endcapture -%}

<section id="section-services" data-anchor="services" class="front-page-section fp-auto-height-responsive">

	<div class="section-wrap">

		{%- if services.title and services.title != blank %}
		<h2 class="section-heading">{{ services.title }}</h2>
		{% endif -%}

		<div class="front-page-content front-services-content">
			{{ services.content -}}
		</div>

		{{ tabs | inspect }}

		{%- if tabs != false -%}
		{%- include featured-services-grid.html page=page tabs=tabs -%}
		{%- endif -%}
	</div>
</section>
