
{%- assign section = include.section -%}
{%- assign slides  = site.front-slides | sort: "order" -%}

<section id="section-slides" data-anchor="slides" class="front-page-section section-slides hide-if-no-js active">
	<div id="intro-slides" class="intro-slides">
	{%- for slide in slides -%}

		{%- assign src = slide.image | prepend: "assets/img/" -%}
		<div class="intro-slide">
			<img class="intro-slide-image" src='{{ src | relative_url }}' role="presentation" />
			<div class="intro-slide-content">

				<h3 class="intro-slide-heading">{{ slide.title | default: "You Forgot the Title" }}</h3>

				{%- if slide.subtitle and slide.subtitle != blank -%}
				<p class="intro-slide-text">{{ slide.subtitle }}</p>
				{%- endif -%}

				{%- if slide.content and slide.content != blank -%}
				{{ content }}
				{%- endif -%}

				{%- if forloop.index0 == 0 %}
				<div class="sections-nav fp-nav-y fp-nav-down">
					<button class="scroll-down" title='{{ intro.title | default: "Introduction" }}' data-tooltip>{%- include svg/angle-down.svg -%}</button>
				</div>
				{% endif -%}

			</div>
		</div>
	{%- endfor -%}
	</div>
</section>
