
{%- assign section = include.section -%}
{%- assign slides  = site.front-slides | sort: "order" -%}

<section id="section-slides" data-anchor="slides" class="page-header front-page-section active">
	<ul id="intro-slides" class="intro-slides">
	{%- for slide in slides -%}

		{%- assign src slide.image | prepend: "assets/img/" -%}
		<li class="intro-slide">
			<img class="intro-slide-image" src='' role="presentation" />
			<div class="intro-slide-content">
				<h3 class="intro-slide-heading">{{ slide.title }}</h3>
				<p class="intro-slide-text">{{ slide.subtitle }}</p>
				<div class="intro-slide-action">
					<a href=""></a>
				</div>
			</div>
		</li>
	{%- endfor -%}
	</ul>
	<div class="sections-nav fp-nav-y fp-nav-down hide-if-no-js">
		<button class="scroll-down" title='{{ intro.title | default: "Introduction" }}' data-tooltip>{%- include svg/angle-down.svg -%}</button>
	</div>
</section>
