{%- assign post = include.post %}
{%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}

{%- if post.post_thumb -%}
	{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" | append: post.slug | append: "/" -%}
	{%- assign thumb_src = image_dir | append: post.post_thumb -%}
{%- else -%}
	{%- assign thumb_src = "posts/images/default-thumb.jpg" -%}
{%- endif -%}

<li>
	<article id='{{ post.name | slugify | remove_last: "-md" }}' class="posts-entry">

		<figure class="entry-image" role="presentation">
			<a href="{{ post.url | absolute_url }}">
				<img src="{{ thumb_src | absolute_url }}" class="post-image" width="180" height="180" />
			</a>
		</figure>

		<header class="entry-header">
			<h2 class="post-title">
				<a href="{{ post.url | absolute_url }}">
					{{ post.title | strip_html }}
				</a>
			</h2>
			{%- if post.subtitle %}
			<p class="post-subtitle">
				{{ post.subtitle | strip_html }}
			</p>
			{%- endif -%}
		</header>
		<div class="entry-summary">
			<footer class="post-meta">
				<p class="post-date">
					Posted on {{ post.date | date: date_format }}
					{%- if post.modified -%}
					<br />
					Modified {{ post.modified | date: date_format }}
					{%- endif -%}
				</p>
				{%- if post.category %}
				<p class="post-cats">
					<span class="post-cats-label">Category:</span>
					<span class="post-cats-list">
					{% for cat in post.category %}
					<a href="{{ '/category/' | absolute_url }}{{- cat | slugify -}}"> {{- cat -}} </a>
					{%- endfor -%}
					</span>
				</p>
				{%- endif %}
				{%- if post.tags.size > 0 %}
				<p class="post-tags">
					<span class="post-tags-label">Posted in</span>
					<span class="post-tags-list">
					{% for tag in post.tags %}
					<a href="{{ '/tags' | absolute_url }}#{{- tag -}}"> {{- tag | capitalize -}} </a>
					{%- endfor -%}
					</span>
				</p>
				{%- endif %}
			</footer>
			{%- assign length = site.length | default: 35 -%}
			{%- assign word_count = post.excerpt | number_of_words -%}

			<div class="post-excerpt">
				<p>{{- post.excerpt | strip_html | truncatewords: length, "…" -}}<a href="{{ post.url | absolute_url }}" title="Read Post" data-tooltip><span class="screen-reader-text">Read Post</span> {% include svg/arrow-right.svg %}</a></p>
			</div>
		</div>
	</article>
</li>
