
{%- assign config = site.featured_projects -%}
{%- assign featured = include.projects -%}

{%- if featured and featured.size > 0 %}
<div class="featured-posts-grid">

	{%- for project in featured -%}

	{%- unless config contains project.slug -%}
		{%- continue -%}
	{%- endunless -%}

	{%- assign excerpt = project.subtitle | default: project.excerpt | truncatewords: 15, "…" -%}

	{%- if project.post_image -%}
		{%- assign image_dir = project.date | date: "posts/images/%Y/%m/" | append: project.slug | append: "/" -%}
		{%- assign image_src = image_dir | append: project.post_image -%}
	{%- else -%}
		{%- assign image_src = "assets/img/site-image.jpg" -%}
	{%- endif -%}

	<article class="featured-post">
		<a href="{{ project.url | relative_url }}">
			<figure>
				<img src="{{ image_src | relative_url }}" />
				<figcaption>
					<h3>{{ project.title }}</h3>
					<p>{{ excerpt }}</p>
				</figcaption>
			</figure>
		</a>
	</article>
	{%- endfor %}
</div>
{%- endif -%}
