{%- comment -%}
featured-posts-grid.html
Usage example:
{% include featured-posts-grid.html posts=site.posts limit=5 index='/posts/index.html' %}

Expects:
posts (array, required) - A list of posts or other objects to display.
limit (integer, optional) - Number of posts to display (default: all).
index (string, optional) - Index page for the collection.
{%- endcomment -%}

{%- assign featured_posts = include.posts | default: nil -%}

{%- if featured_posts -%}
	{%- assign featured_posts = featured_posts | sort: "date" | reverse %}
{%- endif -%}

{%- assign timeline_post_limit = include.limit | default: page.posts_limit | default: site.paginate | default: -1 -%}

{%- if featured_posts and timeline_post_limit < 0 -%}
	{%- assign timeline_post_limit = featured_posts.size -%}
{%- endif -%}

{%- assign timeline_index = include.index | default: page.first_page_path -%}

{%- if featured_posts and featured_posts.size > 0 %}
<div class="featured-posts-grid">

	{%- for post in featured_posts | limit: timeline_post_limit -%}

	{%- assign excerpt = post.subtitle | default: post.excerpt | truncatewords: 15, "…" -%}

	{%- if post.post_image -%}
		{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" -%}
		{%- assign image_src = image_dir | append: post.post_image -%}
	{%- else -%}
		{%- assign image_src = "assets/img/" | append: site.post_image -%}
	{%- endif -%}

	<article class="featured-post">
		<a href="{{ post.url | relative_url }}">
			<figure>
				<img src="{{ img_src | relative_url }}" />
				<figcaption>
					<h3>{{ post.title }}</h3>
					<p>{{ excerpt }}</p>
				</figcaption>
			</figure>
		</a>
	</article>
	{%- endfor %}
</div>
{%- endif -%}

{%- if featured_posts.size > timeline_post_limit and timeline_index != blank -%}
<p class="featured-all"><a href="{{ timeline_index | relative_url }}" class="featured-all-link">All Posts</a></p>
{%- endif -%}
