
{%- assign featured_projects = site.featured_projects | split: "," -%}
{%- assign featured_posts = include.projects -%}
{%- assign post_limit = include.limit -%}

{%- if featured_posts and featured_posts.size > 0 %}
<div class="featured-posts-grid">

	{%- for post in featured_posts -%}

	{%- unless featured_projects contains post.slug -%}
		{%- continue -%}
	{%- endunless -%}

	{%- assign excerpt = post.subtitle | default: post.excerpt | truncatewords: 15, "…" -%}

	{%- if post.post_image -%}
		{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" | append: post.slug | append: "/" -%}
		{%- assign image_src = image_dir | append: post.post_image -%}
	{%- else -%}
		{%- assign image_src = "assets/img/site-image.jpg" -%}
	{%- endif -%}

	<article class="featured-post">
		<a href="{{ post.url | relative_url }}">
			<figure>
				<img src="{{ image_src | relative_url }}" />
				<figcaption>
					<h3>{{ post.title }}</h3>
					<p>{{ excerpt }}</p>
				</figcaption>
			</figure>
		</a>
	</article>
	{%- endfor %}
</div>
{%- endif -%}
