{%- assign page = include.page -%}
{%- assign tabs = include.tabs -%}

<div class="content-loop-grid featured-services-grid">
{{ tabs | inspect }}
	{% for tab in tabs %}
	<article class="featured-service">
		<a href="{{ page.permalink | append: '#' | append: tab.section }}">
			<figure>
				<img src="{{ 'assets/img/' | append: tab.cover | absolute_url }}" loading="lazy" />
				<figcaption>
					<h3>{{ tab.title }}</h3>
					<p>{{ tab.subtitle }}</p>
				</figcaption>
			</figure>
		</a>
	</article>
	{% endfor %}

</div>
