{%- assign paginate_path = include.paginate_path | default: site.paginate_path -%}
{%- assign previous_page_path = include.previous_page_path | default: paginator.previous_page_path -%}
{%- assign next_page_path = include.next_page_path | default: paginator.next_page_path -%}

{%- assign prev_icon = "" -%}
{%- capture prev_icon -%}
	{% include svg/arrow-left.svg %}
{%- endcapture -%}
{%- assign next_icon = "" -%}
{%- capture next_icon -%}
	{% include svg/arrow-right.svg %}
{%- endcapture -%}

{%- if paginator.total_pages > 1 -%}
<nav role="navigation" aria-label="Pagination" class="pagination-nav">
	<ul>
		{%- if paginator.previous_page -%}
		<li><a class="previous_page" rel="prev" href="{{ previous_page_path | relative_url }}" aria-disabled="false" title="Newer Posts" data-tooltip>{{ prev_icon }} <span class="screen-reader-text">Newer Posts</span></a></li>
		{%- endif -%}

		{%- for paginator_nav_page in (1..paginator.total_pages) -%}

		{%- if paginator_nav_page == paginator.page -%}
		<li class="current-page">{{ paginator_nav_page }}</li>

		{%- elsif paginator_nav_page == 1 -%}
		<li><a href="{{ paginate_path | relative_url | replace: 'page:num', '' }}" aria-label="{{ paginator_nav_page }}">{{ paginator_nav_page }}</a></li>

		{%- else -%}
		<li><a href="{{ paginate_path | relative_url | replace: ':num', paginator_nav_page }}" aria-label="{{ paginator_nav_page }}">{{ paginator_nav_page }}</a></li>
		{%- endif %}
		{%- endfor %}

		{%- if paginator.next_page -%}
		<li><a class="next_page" rel="next" href="{{ next_page_path | relative_url }}"
			aria-disabled="false" title="Older Posts" data-tooltip><span class="screen-reader-text">Older Posts</span> {{ next_icon }}</a></li>
		{%- endif -%}
	</ul>
</nav>
{%- endif -%}
