{%- assign image   = post.image | default: site.image -%}
{%- assign excerpt = post.subtitle | default: post.excerpt -%}
{%- assign border  = include.border -%}

{%- if post.post_image -%}
	{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" -%}
	{%- assign image_src = image_dir | append: post.post_image -%}
{%- else -%}
	{%- assign image_src = "assets/img/site-image.jpg" -%}
{%- endif -%}

<div>
	<a href="{{ post.url | relative_url }}">
		<img src="{{ image_src | absolute_url }}" alt="{{ post.title }}" />
	</a>
	<p>
		<a href="{{ post.url | relative_url }}">{{ post.title }}</a><br />
		{{ excerpt }}
	</p>
</div>
