{%- assign post = include.post %}

{%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}

{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" | append: post.slug | append: "/" -%}
{%- if post.post_thumb -%}
	{%- assign src = image_dir | append: post.post_thumb -%}
{%- elsif post.post_image -%}
	{%- assign src = image_dir | append: post.post_image -%}
{%- else -%}
	{%- assign src = "posts/images/default-thumb.jpg" -%}
{%- endif -%}

<article id="{{ post.slug }}" class="entry-article">

	<figure class="entry-image" role="presentation">
		<a href="{{ post.url | absolute_url }}">
			<img src="{{ src | absolute_url }}" />
		</a>
	</figure>

	<header class="entry-header">
		<h2 class="entry-title">
			<a href="{{ post.url | absolute_url }}">
				{{ post.title | strip_html }}
			</a>
		</h2>
		{%- if post.subtitle %}
		<p class="entry-subtitle">
			{{ post.subtitle | strip_html }}
		</p>
		{%- endif -%}
	</header>

	<div class="entry-summary">
		<footer class="entry-footer">

			<div class="entry-footer-date">
				<span class="entry-footer-icon entry-date-icon" role="presentation">{%- include svg/clock.svg -%} </span>
				<span class="entry-footer-label entry-date-label">Posted:</span>
				<span class="entry-footer-date">{{ post.date | date: date_format }}</span>
			</div>

			{%- if post.category -%}
			<div class="entry-footer-tax entry-footer-cats">
				<span class="entry-footer-icon entry-cats-icon" role="presentation">{%- include svg/folder.svg -%} </span>
				<span class="entry-footer-label entry-cats-label">Categories:</span>
				<span class="entry-footer-links entry-cats-links">
					{% for cat in post.category %}
					<a href="{{ '/category/' | absolute_url }}{{- cat | slugify -}}"> {{- cat -}} </a>
					{%- endfor -%}
				</span>
			</div>
			{%- endif -%}

			{%- if post.tags.size > 0 -%}
			<div class="entry-footer-tax entry-footer-tags">
				<span class="entry-footer-icon entry-tags-icon" role="presentation">{%- include svg/tag.svg -%} </span>
				<span class="entry-footer-label entry-tags-label">Tags:</span>
				<span class="entry-footer-links entry-tags-links">
					{% for tag in post.tags %}
					<a href="{{ '/tags' | absolute_url }}#{{- tag -}}"> {{- tag | capitalize -}} </a>
					{%- endfor -%}
				</span>
			</div>
			{%- endif -%}

		</footer>

		{%- assign length = site.length | default: 35 -%}
		{%- assign word_count = post.excerpt | number_of_words -%}

		<div class="entry-excerpt">
			<p>{{- post.excerpt | strip_html | truncatewords: length, "…" -}}</p>
			<p><a class="entry-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}" data-tooltip>Read Post {%- include svg/arrow-right.svg -%}</a></p>
		</div>
	</div>
</article>
