{%- assign post = include.post %}
{%- if post.post_image -%}
	{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" | append: post.slug | append: "/" -%}
	{%- assign image_src = image_dir | append: post.post_image -%}
{%- else -%}
	{%- assign image_src = "assets/img/site-image.jpg" -%}
{%- endif -%}

{%- capture next_icon -%}
	{% include svg/arrow-left.svg %}
{%- endcapture -%}
{%- capture prev_icon -%}
	{% include svg/arrow-right.svg %}
{%- endcapture -%}

<article class="entry-article">
	<section class="entry-cover">

			<figure class="entry-image">
				<a href="{{ post.url | absolute_url }}">
					<img src="{{ image_src | absolute_url }}" role="presentation" />
				</a>
			</figure>

			<div>
				<header class="entry-header">
					{%- if post.title -%}
					<h2 class="page-title entry-title">{{ post.title }}</h2>
					{%- endif -%}

					{%- if post.subtitle -%}
					<p class="page-subtitle entry-subtitle">{{ post.subtitle }}</p>
					{%- endif -%}
				</header>
			</div>
	</section>
	<footer class="entry-footer">

		{%- if post.category -%}
		<div class="entry-cats">
			<span class="entry-cats-icon">{%- include svg/folder.svg -%} </span>
			<span class="entry-cats-label">Categories:</span>
			<span class="entry-cats-list">
			{%- for cat in post.category -%}
			<a href="{{ '/category/' | absolute_url }}{{- cat | slugify -}}"> {{- cat -}} </a>
			{%- endfor -%}
			</span>
		</div>
		{%- endif %}

		{%- if post.tags.size > 0 -%}
		<div class="entry-tags">
			<span class="entry-tags-icon">{%- include svg/tags.svg -%} </span>
			<span class="entry-tags-label">Tags:</span>
			<span class="entry-tags-list">
			{%- for tag in post.tags -%}
			<a href="{{ '/tags/' | relative_url }}#{{- tag -}}">{{- tag | capitalize -}}</a>
			{%- endfor -%}
			</span>
		</div>
		{%- endif -%}
	</footer>
	<div class="entry-content">
		{{ post.content }}
	</div>

	<p><a class="entry-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}" data-tooltip>Go to Post {%- include svg/arrow-right.svg -%}</a></p>
</article>
