

<ul class="post-gallery">
{%- for file in site.static_files -%}{{ file.ext }}
	{%- if file.ext == '.jpg' or file.ext == '.jpeg' or file.ext == '.JPG' or file.ext == '.JPEG' -%}

		{%- assign file_parts = file.path | split: "/" -%}
		{%- assign filename = file_parts | last | replace: file.ext, "" -%}
	<li>
		<figure>
			<a href="{{ file.path | relative_url }}" title="{{ filename }}" data-fancybox="gallery-{{ page.slug }}">
				<img src="{{ file.path | relative_url }}" alt="{{ filename }}" title="{{ filename }}" />
			</a>
			<figcaption>{{ filename }}</figcaption>
		</figure>
	</li>
	{%- endif -%}
{%- endfor -%}
</ul>
