{%- assign widgets = site.widgets | sort: "order" -%}

<footer id="colophon" class="site-footer">
	<img class="footer-bg-image" src='{{ "assets/img/bamboo.jpg" | relative_url }}' role="presentation" />
	<div class="site-info">
		<div class="general-wrap widgets-footer">

			{%- if site.widgets.size > 0 -%}
			{%- for widget in widgets -%}

			{%- unless widget.footer == true -%}
				{%- continue -%}
			{%- endunless -%}

			{%- assign slug = widget.path | remove: "_widgets/" | remove: widget.ext -%}

			<div class="widget widget-footer widget-{{ slug }}">
				{%- include widgets/{{ slug }}.html widget = widget -%}
			</div>

			{%- endfor -%}
			{%- endif -%}

		</div>
	</div>
	<p class="final-message">{{ "now" | date: "%Y" }} {{ site.final_message | default: "No copyright claims." }}</p>
</footer>

<div class="page-loading">
	<div class="loading-icon"></div>
	<p class="loading-text">{{ site.loading_text | default: "Loading" }}</p>
</div>

<!-- Theme scripts -->
<script src="{{ '/assets/js/fitvids.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/tooltips.min.js' | relative_url }}"></script>
{%- if page.layout == 'tabs' -%}
<script src="{{ '/assets/js/tabs.min.js' | relative_url }}"></script>
{%- endif -%}

<script>

// Various jQuery scripts on document ready.
jQuery(document).ready( function($) {

	// Add "scrolled" class to the site header.
	$(window).scroll( function () {

		var scroll = $(window).scrollTop();
		var size   = $(window).width();

		if ( size > 800 ) {
			if ( scroll >= 32 ) {
				$( '.site-header' ).addClass( 'header-scrolled' );
			} else {
				$( '.site-header' ).removeClass( 'header-scrolled' );
			}
		}
	});

	// Responsive video embeds.
	$( '.main-article' ).fitVids();

	// Custom tooltips.
	$( 'a[data-tooltip], button[data-tooltip]' ).tooltipster({
		distance: 5,
		delay: 150,
		theme: 'ccdzen'
	});
});
</script>

<!-- Simple Analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

<!-- Remove page loader -->
<script>
$(window).on( 'pageshow', function() {
	$( '.page-loading' ).fadeOut( 250 );
});
</script>
