{%- assign is_front = false -%}
{%- capture is_front -%}
	{%- if page.url == "/" -%}
		{{ is_front = true }}
	{%- endif -%}
{%- endcapture -%}
<header id="masthead" class="site-header" role="banner" itemscope="itemscope" itemtype="http://schema.org/Organization">
	<div class="general-wrap">
		<div class="site-identity">
			{%- if site.avatar -%}
			<figure class="site-avatar">
				{%- unless first_page_path -%}
				<a href="{{ site.github.url }}">
				{%- endunless -%}
					<img src="{{ '/assets/img/' | append: site.avatar | relative_url }}" alt="Yin-yang symbol" class="avatar" />
					<figcaption class="screen-reader-text">
						<span>Yin-yang symbol used as the Controlled Chaos Design avatar. Not a logo!</span>
					</figcaption>
				{%- unless first_page_path -%}
				</a>
				{%- endunless -%}
			</figure>
			{%- endif -%}
			{%- if first_page_path -%}
			<h1 class="site-title">{{ site.title }}</h1>
			{%- else -%}
			<p class="site-title">
				<a href="{{ site.github.url }}">{{ site.title }}</a>
			</p>
			{%- endif -%}
		</div>
		{%- if site.site_nav -%}
		{% include site-nav.html -%}
		{%- endif -%}
	</div>
</header>
