<footer id="colophon" class="site-footer">
	<img class="footer-bg-image" src='{{ "assets/img/bamboo.jpg" | relative_url }}' role="presentation" />
	<div class="site-info">
		<div class="general-wrap">
			<h3>Contact Me</h3>
			<p>Bacon ipsum dolor amet filet mignon rump ball tip flank burgdoggen picanha pastrami chuck jerky turkey andouille short ribs pig cupim.</p>
		</div>
	</div>
	<p class="final-message">{{ site.final_message | default: "No copyright claims." }}</p>
</footer>

<!-- Theme scripts. -->
{%- assign js_ver = 'now' | date: "%Y-%m-%d-%H-%M" | prepend: "?v=" %}
<script src="{{ '/assets/js/fitvids.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/tooltips.min.js' | append: js_ver | relative_url }}"></script>
<script>

// Various jQuery scripts on document ready.
jQuery(document).ready( function($) {

	// Responsive video embeds.
	$( '.main-article' ).fitVids();
	// Custom tooltips.
	$( 'a[data-tooltip]' ).tooltipster({
		distance: 5,
		theme: 'ccdzen'
	});
});
</script>

<!-- Simple Analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
