{%- assign post = include.post %}

{%- assign image_dir = post.date | date: "posts/images/%Y/%m/" | append: post.slug | append: "/" -%}
{%- if post.post_thumb -%}
	{%- assign src = image_dir | append: post.post_thumb -%}
{%- elsif post.post_image -%}
	{%- assign src = image_dir | append: post.post_image -%}
{%- else -%}
	{%- assign src = "posts/images/default-thumb.jpg" -%}
{%- endif -%}

<article id="{{ post.slug }}" class="entry-article">

	<figure class="entry-image" role="presentation">
		<a href="{{ post.url | absolute_url }}">
			<img src="{{ src | absolute_url }}" />
		</a>
	</figure>

	<header class="entry-header">
		<h2 class="entry-title">
			<a href="{{ post.url | absolute_url }}">
				{{ post.title | strip_html }}
			</a>
		</h2>
		{%- if post.subtitle %}
		<p class="entry-subtitle">
			{{ post.subtitle | strip_html }}
		</p>
		{%- endif -%}
	</header>
</article>
