<div id="visitor-notice" class="visitor-notice" style="display: none;  max-width: 600px;">

	<h3>Email</h3>

	<p>I have not bombarded you with automated pop-ups, such as newsletter sign up, chat bubbles, or other pleas for contact. I do not need your email address unless we are working together or discussing the possibility.</p>

	<p>So I do not collect your email address through deceptive means.</p>

	<h3>Cookies</h3>

	<p>This website does not generate cookies. Future development may use a cookie to remember appearance preferences such as light or dark mode. But I have no need to know your device, your IP address, etc.</p>

	<p>Those cookie pop-ups you see are for compliance with European Union regulations. I do not recognize the European Union's presumed authority over my website, nor would I recognize such assertions by the United States.</p>

	<p>We all know that our data is collected in various ways, going back at least as far as supermarket sweepstakes (enter to win), long before the internet existed. You do not need to be informed of this.</p>
</div>
