///
/// SCSS color variables
///

@use 'sass:color';

// General colors.
$white       : #ffffff !default;
$off_white   : #e8e8e8 !default;
$black       : #000000 !default;
$near_black  : #1e1e1e !default;
$gray_dark   : #333333 !default;
$gray_medium : #555555 !default;
$gray_light  : #888888 !default;
$gray_pale   : #cccccc !default;
$red         : #dd0000 !default;
$orange      : #ee6600 !default;
$yellow      : #ffdd00 !default;
$green       : #00aa00 !default;
$blue        : #0044aa !default;
$violet      : #551188 !default;
$error       : $red    !default;
$danger      : $red    !default;
$notify      : $orange !default;
$warning     : $yellow !default;
$success     : $green  !default;

// Theme colors.
$theme_primary:       #846f8b !default;
$theme_primary_light: #927b98 !default;
$theme_primary_dark:  #72577a !default;

$theme_secondary:       #9fb653 !default;
$theme_secondary_light: #b0c572 !default;
$theme_secondary_dark:  #7c9419 !default;

// Color types.
$body_color:      $white !default;
$body_color_dark: $near_black !default;
$text_color:      color.adjust( $color: $theme_primary_dark, $lightness: -5% ) !default;
$text_color_dark: $off_white !default;

///
/// Functions to fill SVG as background images.
///
/// These require the variables to be hex colors.
///
/// @example background-image: url( "data:image/svg+xml;utf8,<svg ...>
///          <path fill='#{ colors.button_svg_color() }'...
///
@function svg_fill_any( $color ) {
	@return '%23' + str-slice( $color, 2, -1 );
}

@function svg_fill_white() {
	@return '%23' + str-slice( '#{$white}', 2, -1 );
}

@function svg_fill_primary() {
	@return '%23' + str-slice( '#{$theme_primary}', 2, -1 );
}

@function svg_fill_primary_light() {
	@return '%23' + str-slice( '#{$theme_primary_light}', 2, -1 );
}

@function svg_fill_primary_dark() {
	@return '%23' + str-slice( '#{$theme_primary_dark}', 2, -1 );
}

@function svg_fill_secondary() {
	@return '%23' + str-slice( '#{$theme_secondary}', 2, -1 );
}

@function svg_fill_secondary_light() {
	@return '%23' + str-slice( '#{$theme_secondary_light}', 2, -1 );
}

@function svg_fill_secondary_dark() {
	@return '%23' + str-slice( '#{$theme_secondary_dark}', 2, -1 );
}
