///
/// SCSS color variables & maps
///

@use 'sass:color';
@use 'functions' as f;

// General colors
// ------------------------------------------------
$white       : #ffffff !default;
$off_white   : #f1f1f1 !default;
$black       : #000000 !default;
$near_black  : #1e1e1e !default;
$gray_dark   : #414141 !default;
$gray_medium : #686868 !default;
$gray_light  : #9f9f9f !default;
$gray_pale   : #dedede !default;
$red         : #dd0000 !default;
$orange      : #ee6600 !default;
$yellow      : #ffdd00 !default;
$green       : #00aa00 !default;
$blue        : #0044aa !default;
$violet      : #551188 !default;
$purple      : #bb00aa !default;
$error       : $red    !default;
$danger      : $red    !default;
$notify      : $orange !default;
$warning     : $yellow !default;
$success     : $green  !default;

$general: (
	'white'       : $white,
	'off-white'   : $off_white,
	'black'       : $black,
	'near-black'  : $near_black,
	'gray-dark'   : $gray_dark,
	'gray-medium' : $gray_medium,
	'gray-light'  : $gray_light,
	'gray-pale'   : $gray_pale,
	'red'         : $red,
	'orange'      : $orange,
	'yellow'      : $yellow,
	'green'       : $green,
	'blue'        : $blue,
	'purple'      : $purple,
	'violet'      : $violet,
	'error'       : $error,
	'danger'      : $danger,
	'notify'      : $notify,
	'warning'     : $warning,
	'success'     : $success
) !default;

// Theme colors
// ------------------------------------------------
$theme_one_base:  #846f8b !default;
$theme_one_light: #927b98 !default;
$theme_one_dark:  #69586f !default;

// Try 816f7e
$theme_one_tints_0: #846f8b;
$theme_one_tints_10: #907d96;
$theme_one_tints_20: #9c8ba2;
$theme_one_tints_30: #a89aad;
$theme_one_tints_40: #b5a8b9;
$theme_one_tints_50: #c1b7c5;
$theme_one_tints_60: #cdc5d0;
$theme_one_tints_70: #dad3dc;
$theme_one_tints_80: #e6e2e7;
$theme_one_tints_90: #f2f0f3;
$theme_one_shades-0: #846f8b;
$theme_one_shades-10: #76637d;
$theme_one_shades-20: #69586f;
$theme_one_shades-30: #5c4d61;
$theme_one_shades-40: #4f4253;
$theme_one_shades-50: #423745;
$theme_one_shades-60: #342c37;
$theme_one_shades-70: #272129;
$theme_one_shades-80: #1a161b;
$theme_one_shades-90: #0d0b0d;

$theme_two_base:  #a0b43c !default;
$theme_two_light: #a9bb4f !default;
$theme_two_dark:  #90a236 !default;

// Try 9eb13f
$theme_two_tints_0: #a0b43c;
$theme_two_tints_10: #a9bb4f;
$theme_two_tints_20: #b3c363;
$theme_two_tints_30: #bcca76;
$theme_two_tints_40: #c6d28a;
$theme_two_tints_50: #cfd99d;
$theme_two_tints_60: #d9e1b1;
$theme_two_tints_70: #e2e8c4;
$theme_two_tints_80: #ecf0d8;
$theme_two_tints_90: #f5f7eb;
$theme_two_shades-0: #a0b43c;
$theme_two_shades-10: #90a236;
$theme_two_shades-20: #809030;
$theme_two_shades-30: #707d2a;
$theme_two_shades-40: #606c24;
$theme_two_shades-50: #505a1e;
$theme_two_shades-60: #404818;
$theme_two_shades-70: #303612;
$theme_two_shades-80: #1f230b;
$theme_two_shades-90: #0f1105;

$theme: (
	'one' : (
		'base'  : $theme_one_base,
		'light' : $theme_one_light,
		'dark'  : $theme_one_dark
	),
	'two' : (
		'base'  : $theme_two_base,
		'light' : $theme_two_light,
		'dark'  : $theme_two_dark
	)
) !default;
