///
/// Keyframes
///

// Spinner animation.
@-webkit-keyframes spinner {
	from { -webkit-transform: rotate( 0deg ); }
	to { -webkit-transform: rotate( 360deg ); }
}

@keyframes spinner {
	from { transform: rotate( 0deg ); }
	to { transform: rotate( 360deg ); }
}
