///
/// SCSS typography variables
///

// Font stacks.
$stack_display: '"Crimson Pro"', '"Palatino Linotype"', '"Palatino"', '"Palladio"', '"URW Palladio L"', '"Book Antiqua"', '"Baskerville"', '"Bookman Old Style"', '"Bitstream Charter"', '"Nimbus Roman No9 L"', '"Garamond"', '"Apple Garamond"', '"ITC Garamond Narrow"', '"New Century Schoolbook"', '"Century Schoolbook"', '"Century Schoolbook L"', '"Georgia"', serif, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';

$stack_general: '"Red Hat Display"', -apple-system, BlinkMacSystemFont, '"Segoe UI"', '"Roboto"', '"Oxygen-Sans"', '"Ubuntu"', '"Cantarell"', '"Helvetica Neue"', sans-serif, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';

$stack_secondary: '"Red Hat Text"', -apple-system, BlinkMacSystemFont, '"Segoe UI"', '"Roboto"', '"Oxygen-Sans"', '"Ubuntu"', '"Cantarell"', '"Helvetica Neue"', sans-serif, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';

$stack_monospace: '"Red Hat Mono"', '"Source Code Pro"', '"Roboto Mono"', '"Fira Code"', '"Liberation Mono"', '"Inconsolata"', '"Menlo"', '"Monaco"', '"Consolas"', '"Cascadia Mono"', '"Segoe UI Mono"', '"Oxygen Mono"', '"Ubuntu Monospace"', '"Fira Mono"', '"Droid Sans Mono"', '"Courier New"', '"Courier"', ui-monospace, monospace, '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"', '"Noto Color Emoji"';
