{%- assign widget = include.widget -%}
{%- assign links  = site.data.owner.owner.links -%}
{%- assign src    = site.data.owner.owner.avatar.file | prepend: "assets/img/" -%}
{%- assign alt = site.data.owner.owner.avatar.alt -%}
{%- assign caption = site.data.owner.owner.avatar.caption -%}

{%- if widget.title -%}
<h3>{{ widget.title }}</h3>
{%- endif -%}

<div class="owner-widget-wrap">
	<figure class="owner-avatar">
		<a href="{{ src | relative_url }}" title="{{ caption }}" data-tooltip data-fancybox data-caption="{{ caption }}">
			<img src="{{ src | relative_url }}" alt="{{ alt }}" class="avatar" />
		</a>
		<figcaption class="screen-reader-text">{{ caption }}</figcaption>
	</figure>
	<div class="owner-info">

		{%- if widget.content and widget.content != blank -%}
			{{ widget.content }}
		{%- endif -%}

		{%- if links.size > 0 -%}
		<ul class="owner-links">

			{%- for link in links -%}
			<li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a></li>
			{%- endfor -%}

		</ul>
		{%- endif -%}

	</div>
</div>
