{%- assign widget = include.widget -%}
{%- assign current_url = page.url | default: '/' -%}
{%- assign best_match_url = '' -%}
{%- assign best_match_len = 0 -%}
{%- assign page_links = site.data.page_links.page_links | default: nil -%}
{%- if page_links == nil -%}
	{%- assign page_links = "" | split: " " -%}
{%- endif -%}

{%- for nav_item in page_links -%}
	{%- assign nav_url = nav_item.url | default: '/' -%}
	{%- assign is_match = false -%}

	{%- if nav_url == '/' -%}
		{%- if current_url == '/' -%}
			{%- assign is_match = true -%}
		{%- endif -%}
	{%- else -%}
	{%- assign nav_last_char = nav_url | slice: -1, 1 -%}
		{%- if nav_last_char == '/' -%}
			{%- assign nav_prefix = nav_url -%}
		{%- else -%}
			{%- assign nav_prefix = nav_url | append: '/' -%}
		{%- endif -%}

		{%- assign nav_prefix_len = nav_prefix | size -%}
		{%- assign current_prefix = current_url | slice: 0, nav_prefix_len -%}

		{%- if current_url == nav_url or current_prefix == nav_prefix -%}
			{%- assign is_match = true -%}
		{%- endif -%}
	{%- endif -%}

	{%- if is_match -%}
		{%- assign nav_len = nav_url | size -%}
		{%- if nav_len > best_match_len -%}
			{%- assign best_match_url = nav_url -%}
			{%- assign best_match_len = nav_len -%}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}

{%- if widget.title -%}
<h3>{{ widget.title }}</h3>
{%- endif -%}

<nav class="page-links-widget-nav" role="directory" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<ul>
		{% for nav_item in page_links %}
			{%- if nav_item.url == best_match_url -%}
				{%- assign aria = "aria-current='page'" -%}
			{%- else -%}
				{%- assign aria = "" -%}
			{%- endif -%}

			{%- if nav_item.atts -%}
			{{ nav_item.atts | inspect }}
				{%- for att in atts -%}

				{%- endfor -%}
				{%- assign atts = nav_item.atts | split: " " -%}
			{%- else -%}
				{%- assign atts = "" -%}
			{%- endif -%}
		<li><a href="{{ nav_item.url }}" {{ aria }}>{{ nav_item.name }}</a></li>
		{% endfor %}
	</ul>
</nav>
