///
/// General sidebar styles
///
/// @see `_modules.scss` for styles within the modules.
///

@use '../modules/layout';

.page-sidebar {
	position: var( --ccd-module--position );
	display: var( --ccd-module--display, flex );
	flex-direction: var( --ccd-module--flex-direction, column );
	flex-wrap: var( --ccd-module--flex-wrap );
	align-items: var( --ccd-module--align-items );
	justify-content: var( --ccd-module--justify-content );
	width: var( --ccd-module--width, 320px );
	max-width: var( --ccd-module--max-width );
	min-width: var( --ccd-module--min-width, 240px );
	height: var( --ccd-module--height );
	margin: var( --ccd-module--margin, var( --ccd-spacing--y, 2rem ) 0 0 0 );
	padding: var( --ccd-module--padding );
	font-family: var( --ccd-module--font-family, inherit );
	font-size: var( --ccd-module--font-size, inherit );
	font-weight: var( --ccd-module--font-weight, inherit );
	font-style: var( --ccd-module--font-style, inherit );
	font-variant: var( --ccd-module--font-variant, inherit );
	line-height: var( --ccd-module--line-height, inherit );
	letter-spacing: var( --ccd-module--letter-spacing, inherit );
	word-spacing: var( --ccd-module--word-spacing, inherit );
	text-decoration: var( --ccd-module--text-decoration, inherit );
	text-transform: var( --ccd-module--text-transform, inherit );
	background-color: var( --ccd-module--bg-color, inherit );
	color: var( --ccd-module--text-color, inherit );

	@media ( prefers-color-scheme: dark ) {
		background-color: var( --ccd-module--bg-color--dark, inherit );
		color: var( --ccd-module--text-color--dark, inherit );
	}

	@container page-container ( max-width: layout.$bp_med ) {
		display: var( --ccd-module--bottom--display, var( --ccd-module--display, grid ) );
		grid-template-columns: var( --ccd-module--bottom--grid-template-columns, var( --ccd-module--grid-template-columns, repeat( 2, 1fr ) ) );
		gap:  var( --ccd-module--bottom--gap, var( --ccd-spacing--y, 2rem ) var( --ccd-spacing--x, 2rem ) );
		width: var( --ccd-module--bottom--width, var( --ccd-module--width, 100% ) );
		max-width: var( --ccd-module--bottom--max-width, var( --ccd-module--max-width ) );
		margin: 0;
		background-color: var( --ccd-module--bottom--bg-color, var( --ccd-module--bg-color, inherit ) );
		color: var( --ccd-module--bottom--text-color, var( --ccd-module--text-color, inherit ) );
	}

	@media screen and ( max-width: layout.$bp_med ) {
		display: var( --ccd-module--bottom--display, var( --ccd-module--display, grid ) );
		grid-template-columns: var( --ccd-module--bottom--grid-template-columns, var( --ccd-module--grid-template-columns, repeat( 2, 1fr ) ) );
		gap:  var( --ccd-module--bottom--gap, var( --ccd-spacing--y, 2rem ) var( --ccd-spacing--x, 2rem ) );
		width: var( --ccd-module--bottom--width, var( --ccd-module--width, 100% ) );
		max-width: var( --ccd-module--bottom--max-width, var( --ccd-module--max-width ) );
		margin: 0;
		background-color: var( --ccd-module--bottom--bg-color, var( --ccd-module--bg-color, inherit ) );
		color: var( --ccd-module--bottom--text-color, var( --ccd-module--text-color, inherit ) );

		@media ( prefers-color-scheme: dark ) {
			background-color: var( --ccd-module--bottom--bg-color--dark, var( --ccd-module--bg-color--dark, inherit ) );
			color: var( --ccd-module--bottom--text-color--dark, var( --ccd-module--text-color--dark, inherit ) );
		}
	}

	@container page-container ( max-width: layout.$bp_sm ) {
		display: var( --ccd-module--bottom--tablet--display, var( --ccd-module--bottom--display, var( --ccd-module--display, block ) ) );
	}

	@media screen and ( max-width: layout.$bp_sm ) {
		display: var( --ccd-module--bottom--tablet--display, var( --ccd-module--bottom--display, var( --ccd-module--display, block ) ) );
	}

	.module {
		&:not( :first-of-type ) {
			margin-top: var( --ccd-spacing--y, 2rem );
			padding-top: var( --ccd-spacing--y, 2rem );
			border-top: var( --ccd-box--border );

			@media screen and ( max-width: layout.$bp_med ) {
				padding-top: 0;
				border-top: none;
			}
		}
	}
}
