///
/// CSS color variables
///

@use 'sass:color';
@use '../modules/functions' as f;
@use '../modules/colors' as c;

:host,
:root {
	--ccd-color--off-white:    #{c.$off_white};
	--ccd-color--gray--pale:   #{c.$gray_pale};
	--ccd-color--gray--light:  #{c.$gray_light};
	--ccd-color--gray--medium: #{c.$gray_medium};
	--ccd-color--gray--dark:   #{c.$gray_dark};
	--ccd-color--near-black:   #{c.$near_black};

	--ccd-color--red:    #{c.$red};
	--ccd-color--orange: #{c.$orange};
	--ccd-color--yellow: #{c.$yellow};
	--ccd-color--green:  #{c.$green};
	--ccd-color--blue:   #{c.$blue};
	--ccd-color--violet: #{c.$violet};

	--ccd-color--theme--primary: #{c.$theme_primary};
	--ccd-color--theme--primary--light: #{c.$theme_primary_light};
	--ccd-color--theme--primary--dark:  #{f.darken( $theme_primary_dark, 20% )};

	--ccd-color--theme--secondary: #{c.$theme_secondary};
	--ccd-color--theme--secondary--light: #{c.$theme_secondary_light};
	--ccd-color--theme--secondary--dark:  #{c.$theme_secondary_dark};
}
