///
/// Site footer styles
///

.site-footer {
	position: relative;
	margin: var( --ccd-site-footer--margin, 0 );
	background-color: var( --ccd-site-footer--bg-color, var( --ccd-color--two--dark ) );
	color: var( --ccd-site-footer--text-color, #ffffff );

	.footer-bg-image {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		opacity: 20%;
		filter: grayscale( 30% );
	}

	.site-info {
		margin: var( --ccd-site-info--margin, 0 var( --ccd-spacing--x, 2rem ) );
		padding: var( --ccd-spacing--y, 2rem ) 0;
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: center;

		* {
			color: var( --ccd-site-footer--text-color, #ffffff );
		}
	}

	.final-message {
		position: relative;
		z-index: 10;
		margin: var( --ccd-site-footer--message--margin, 0 );
		padding:
			var( --ccd-site-footer--message--padding-y, var( --ccd-spacing--y--half ) )
			var( --ccd-site-footer--message--padding-x, var( --ccd-spacing--x ) );
		font-size: var( --ccd-site-footer--message--font-size, 0.8125rem );
		font-weight: var( --ccd-site-footer--message--font-weight, 500 );
		text-align: var( --ccd-site-footer--message--text-align, center );
		background-color: var( --ccd-site-footer--message--bg-color, var( --ccd-color--two--dark ) );
	}
}
