///
/// Site footer styles
///

.site-footer {
	position: relative;
	margin: var( --ccd-site-footer--margin, 0 );
	padding: var( --ccd-site-footer--padding, calc( var( --ccd-spacing--y ) / 2 ) ) var( --ccd-site-footer--padding, var( --ccd-spacing--y ) );
	background-color: var( --ccd-site-footer--bg-color, var( --ccd-color--theme--secondary ) );
	color: var( --ccd-site-footer--text-color, #ffffff );

	.footer-bg-image {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		opacity: 20%;
		filter: grayscale( 30% );
	}

	.site-info {
		z-index: 100;

		* {
			color: var( --ccd-site-footer--text-color, #ffffff );
		}
	}

	.final-message {
		margin: var( --ccd-site-footer--message--margin, 0 );
		font-size: var( --ccd-site-footer--message--font-size, 0.8125rem );
		font-weight: var( --ccd-site-footer--message--font-weight, 500 );
		text-align: var( --ccd-site-footer--message--text-align, center );
	}
}
