///
/// Front page styles
///

@use '../modules/colors';
@use '../modules/layout';

.front-page-section {
	clear: both;
}

.js {
	.front-page-section {
		padding-top: calc( var( --ccd-spacing--y, 2rem ) * 3 );
	}
}

.no-js {
	.front-page-section {
		margin-top: var( --ccd-spacing--y, 2rem );

		&:not( :first-of-type ) {
			border-top: var( --ccd-box--border );
		}
	}
}

.columns {
	&.front-intro-columns {
		flex-direction: row-reverse;
		align-items: center;

		@media screen and ( max-width: layout.$bp_med ) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}
}

.front-page-content {
	max-width: layout.$bp_lg;
}

.front-intro-avatar {
	width: 200px;
	min-width: 160px;
	overflow: hidden;

	img {
		display: block;
		object-fit: cover;
		object-position: center center;
		height: 100%;
	}

	figcaption {
		display: block;
		padding: 0.5rem;
	}

	@media screen and ( max-width: layout.$bp_med ) {
		width: 320px;

		img {
			border-radius: unset;
		}
	}
}

.featured-all {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 550;
}

// FullPageJS sections & scrolling.
#fp-nav {
	background-color: colors.$theme_primary_dark;

	ul li {
		.fp-tooltip {
			padding: 0.25rem;
			font-size: 0.75rem;
			line-height: 1;
			background-color: rgba( $color: colors.$theme_primary_dark, $alpha: 0.5 );
			border-radius: 2px;
		}
		a span {
			background-color: colors.$theme_primary_dark;
		}
	}
}
