///
/// Front page styles
///

.front-page-section {
	margin-top: var( --ccd-spacing--vert, 2rem );
	clear: both;

	&:not( :first-of-type ) {
		border-top: var( --ccd-box--border-style ) var( --ccd-box--border-width ) var( --ccd-box--border-color );
	}
}

.layout {
	&.columns {
		&.responsive {
			&.front-intro-columns {
				flex-direction: row-reverse;

				@media screen and ( max-width: 768px ) {
					flex-direction: column-reverse;
					align-items: center;
				}
			}
		}
	}
}

.front-page-content {
	max-width: 960px;
}

.front-intro-avatar {
	width: 160px;
	min-width: 160px;

	@media screen and ( max-width: 768px ) {
		width: 320px;

		img {
			border-radius: unset;
		}
	}
}
