///
/// Site header styles
///

@use '../modules/colors';
@use '../modules/layout';

.site-header {
	width: var( --ccd-site-header--width, 100% );
	margin: var( --ccd-site-header--margin, 0 );
	padding: var( --ccd-site-header--padding, 2rem );
	background-color: var( --ccd-site-header--bg-color, inherit );
	color: var( --ccd-site-header--text-color, inherit );

	.general-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: calc( var( --ccd-spacing--y ) / 4 ) var( --ccd-spacing--x );

		@media screen and ( max-width: layout.$bp_med ) {
			flex-direction: column;
		}
	}
}

// For FullPage.JS scrolling.
.js .front-page {
	.site-header {
		width: 100% !important;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5001;
		transition: all 350ms; // Half of FullPageJS scrollingSpeed

		&.header-alt-tp {
			background-color: transparent;
		}

		&.header-alt-01 {
			background-color: #ffffff;
			color: var( --ccd-color--theme--primary );
		}
	}
}

.site-identity {
	display: flex;
	align-items: center;
	gap: calc( var( --ccd-spacing--y ) / 4 ) calc( var( --ccd-spacing--x ) / 2 );

	@media screen and ( max-width: layout.$bp_med ) {
		flex-direction: column;
	}

	a {
		color: inherit;

		&:hover,
		&:focus {
			color: inherit;
		}
	}
}

.site-avatar {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: var( --ccd-site-avatar--width, 48px );

	img {
		display: block;
		max-height: var( --ccd-site-avatar--img--max-height, 48px );
	}
}

.site-title {
	margin: var( --ccd-site-title--margin, 0 );
	padding: var( --ccd-site-title--padding, 0 );
	font-family: var( --ccd-site-title--font-family, var( --ccd-fonts--display-stack ) );
	font-size: var( --ccd-site-title--font-size, 2rem );
	font-weight: var( --ccd-site-title--font-weight, var( --ccd-heading-primary--font-weight, 700 ) );
	line-height: var( --ccd-site-title--line-height, 1.1em );
	letter-spacing: var( --ccd-site-title--letter-spacing, var( --ccd-heading-primary--letter-spacing, -0.015em ) );
	word-spacing: var( --ccd-site-title--word-spacing, var( --ccd-heading-primary--word-spacing, -0.0325em ) );
	color: var( --ccd-site-title--text-color, inherit );

	@media screen and ( max-width: layout.$bp_med ) {
		text-align: center;
	}
}

.site-description {
	margin: var( --ccd-site-description--margin, 0 );
	padding: var( --ccd-site-description--padding, 0 );
	font-family: var( --ccd-site-description--font-family, var( --ccd-fonts--display-stack ) );
	font-size: var( --ccd-site-description--font-size, 1.125rem );
	font-weight: var( --ccd-site-description--font-weight, --ccd-heading-primary--font-weight, 400 );
	line-height: var( --ccd-site-description--line-height, 1.1em );
	letter-spacing: var( --ccd-site-description--letter-spacing, --ccd-heading-primary--letter-spacing, normal );
	word-spacing: var( --ccd-site-description--word-spacing, --ccd-heading-primary--word-spacing, normal );
}

.site-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.75rem;
	color: #ffffff;

	@media screen and ( max-width: layout.$bp_med ) {
		justify-content: center;
	}

	li {
		display: inherit;
		margin: 0;
		font-size: 0.9375rem;
		font-weight: 650;
		line-height: 2;

		a {
			display: inline-block;
			position: relative;
			overflow: hidden;
			color: #ffffff;

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 1px;
				transform: scale(0);
				transition: transform .15s ease;
			}
			&:before {
				bottom: 1px;
				background-color: rgba( $color: white, $alpha: 0.75 );
			}
			&:after {
				bottom: 0;
				background-color: rgba( $color: white, $alpha: 0.25 );
			}
			&:hover,
			&:focus {
				color: inherit;
			}
			&:hover {
				&:before,
				&:after {
					transform: scale(1);
				}
			}
		}
	}
}

// Alternate header classes.
.header-alt-01 {
	.site-title {
		color: var( --ccd-color--theme--primary );
	}
	.site-menu {
		color: var( --ccd-color--theme--primary );

		li a {
			color: var( --ccd-color--theme--primary );

			&:before {
				background-color: rgba( $color: colors.$theme_primary, $alpha: 0.75 );
			}
			&:after {
				background-color: rgba( $color: colors.$theme_primary, $alpha: 0.25 );
			}
		}
	}
}
