///
/// Modules (widgets) for sidebar and footer
///

// Owner module.
.owner-avatar { // The `<figure>` element.
	width: 80px;
	min-width: 80px;

	a {
		display: block;
		width: 80px;
		height: 80px;
	}
	img {
		display: block;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center center;
	}
	figcaption {
		display: block;
		padding: 0.5rem;
	}
}

.owner-info {

	p:first-of-type {
		margin: 0;
	}
}

.owner-links {
	list-style: none;
	margin: 0;
}

p + ul {
	margin-top: var( --ccd-e--ccd-element--margin-top );
}

.module-footer {
	.owner-module-wrap {
		display: flex;
		gap: 1em;
		padding: calc( var( --ccd-spacing--y ) / 2 ) calc( var( --ccd-spacing--x ) / 2 );
	}
}
