///
/// Modules (widgets) for sidebar and footer
///

@use '../modules/layout';

.modules-footer {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.module {
	&.module-footer {
		min-width: 320px;
		padding: calc( var( --ccd-spacing--y ) / 2 ) calc( var( --ccd-spacing--x ) / 2 );

		h3:first-of-type {
			margin: 0;
		}
	}
	.module-content {
		p {
			font-size: 0.8125rem;

			&:first-of-type {
				margin-top: 0;
			}
		}
	}
}

// Featured projects.
.module-featured-projects {

	.module-featured-list {
		li {
			margin-top: 0.625rem;
		}
	}
	.module-featured-link {
		font-size: 1.125rem;
		font-weight: 650;
		text-decoration: none;
		line-height: 1.2;
	}
	.module-featured-subtitle {
		display: block;
		font-family: var( --ccd-fonts--secondary-stack );
		font-size: 0.8125rem;
	}
}

// Latest posts.
.module-latest-posts {

	.module-latest-list {
		li {
			margin-top: 0.625rem;
		}
	}
	.module-latest-link {
		font-size: 1.125rem;
		font-weight: 650;
		text-decoration: none;
		line-height: 1.2;
	}
	.module-latest-date,
	.module-latest-cats {
		display: block;
		font-family: var( --ccd-fonts--secondary-stack );
		font-size: 0.8125rem;
	}
}

// Owner module.
.owner-avatar { // The `<figure>` element.
	width: 80px;
	min-width: 80px;

	a {
		display: block;
		width: 80px;
		height: 80px;
	}
	img {
		display: block;
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center center;
	}
	figcaption {
		display: block;
		padding: 0.5rem;
	}
}

.owner-info {
	p:first-of-type {
		margin: 0;
	}
}

.owner-links {
	list-style: none;
	margin: 0;
}

p + ul {
	margin-top: var( --ccd-e--ccd-element--margin-top );
}

.owner-module-wrap {
	display: flex;
	gap: calc( var( --ccd-spacing--x ) / 2 );
	margin-top: calc( var( --ccd-spacing--y ) / 2 );
}

.module-aside {
	.owner-module-wrap {
		flex-direction: column;
	}
	.owner-avatar {
		align-self: center;
	}
}

// Page links.
.page-links-module-nav {
	ul {
		list-style: none;
		column-count: 2;
		column-width: 160px;
		column-wrap: wrap;
	}
}
