///
/// CSS variables defined in
/// the :root pseudoelement
///

@use '../modules/functions' as f;
@use '../modules/colors' as c;
@use '../modules/layout' as l;
@use '../modules/font-stacks' as s;
@use '../modules/typography' as t;

:host,
:root {

	// Layout general.
	--ccd-spacing--x: #{l.$spacing_x};
	--ccd-spacing--y: #{l.$spacing_y};
	--ccd-spacing--x--half: calc( #{l.$spacing_x} / 2 );
	--ccd-spacing--y--half: calc( #{l.$spacing_y} / 2 );
	--ccd-spacing--x--third: calc( #{l.$spacing_x} / 3 );
	--ccd-spacing--y--third: calc( #{l.$spacing_y} / 3 );
	--ccd-spacing--x--quarter: calc( #{l.$spacing_x} / 4 );
	--ccd-spacing--y--quarter: calc( #{l.$spacing_y} / 4 );
	--ccd-spacing--x--plus-half: calc( #{l.$spacing_x} * 1.5 );
	--ccd-spacing--y--plus-half: calc( #{l.$spacing_y} * 1.5 );
	--ccd-spacing--x--double: calc( #{l.$spacing_x} * 2 );
	--ccd-spacing--y--double: calc( #{l.$spacing_y} * 2 );

	--ccd-wrap--general--max-width: 1280px;
	--ccd-wrap--general--margin: 0 auto;
	--ccd-wrap--general--padding: 0;

	// Font stacks.
	@each $type, $stack in s.$stacks {
		--ccd-fonts--#{$type}-stack: #{$stack};
	}

	// Font sizes.
	@each $name, $size in t.$sizes {
		--ccd-fonts--font-size--#{$name}: #{$size};
	}

	// General colors.
	@each $name, $color in c.$colors {
		--ccd-color--#{$name}: #{$color};
	}

	// Theme colors.
	@each $set, $list in c.$theme {
		@each $name, $color in $list {
			--ccd-color--#{$set}--#{$name}: #{$color};
		}
	}

	// Borders.
	--ccd-box--border-style: solid;
	--ccd-box--border-width: 1px;
	--ccd-box--border-color: #{c.$gray_pale};
	--ccd-box--border-color--dark: #{c.$gray_medium};
	--ccd-box--border: var( --ccd-box--border-style ) var( --ccd-box--border-width ) var( --ccd-box--border-color );
	--ccd-box--border--dark: var( --ccd-box--border-style ) var( --ccd-box--border-width ) var( --ccd-box--border-color--dark );

	// Body & general text.
	--ccd-element--margin-top: calc( var( --ccd-spacing--y ) / 2 );
	--ccd-body--font-family: var( --ccd-fonts--general-stack );
	--ccd-body--font-size: 1rem;
	--ccd-body--line-height: 1.525;
	--ccd-body--letter-spacing: 0.025em;
;
	--ccd-body--bg-color: #ffffff;
	--ccd-body--bg-color--dark: #{c.$near_black};
	--ccd-body--text-color: #{f.darken( c.$theme_one_dark, 5% )};
	--ccd-body--text-color--dark: #{c.$off_white};

	--ccd-display--font-family: var( --ccd-fonts--display-stack );
	--ccd-display--font-weight: 600;
	--ccd-display--letter-spacing: normal;

	--ccd-text-shadow: 0.05em 0.05em 0.05em #{rgba( $color: black, $alpha: 0.575 )};

	// Links.
	--ccd-link--text-color: var( --ccd-color--two--base );
	--ccd-link--text-color--dark: var( --ccd-color--two--light );
	--ccd-link--action--text-color: var( --ccd-color--two--light );
	--ccd-link--action--text-color--dark: var( --ccd-color--two--base );

	// Headings.
	--ccd-heading-primary--font-size: 2.25rem;
	--ccd-heading-primary--font-weight: 500;
	--ccd-heading-secondary--font-size: 1.5rem;
	--ccd-heading-secondary--font-weight: 600;
	--ccd-heading-primary--text-color: var( --ccd-color--one--dark );
	--ccd-heading-secondary--text-color: var( --ccd-color--one--dark );

	// Media.
	--ccd-overlay--bg-color: #{rgba( $color: black, $alpha: 0.5 )};

	// Site header.
	--ccd-site-header--padding:
		calc( var( --ccd-spacing--y ) / 2 )
		var( --ccd-spacing--x );
	--ccd-site-header--bg-color: var( --ccd-color--one--base );
	--ccd-site-header--text-color: #{c.$white};
	--ccd-site-title--font-weight: 470;
	--ccd-site-title--text-color: #{c.$white};

	// Page/Post content.
	--ccd-page-title--font-size: 3.25rem;
	--ccd-page-title--font-weight: 500;
	--ccd-page-title--line-height: 95%;
	--ccd-page-subtitle--margin: 0;
	@media screen and ( max-width: l.$bp_sm ) {
		--ccd-page-subtitle--margin: 0.5em 0 0 0;
	}


	// Front page.
	--ccd-front-intro--avatar--size: 200px;
	@media screen and ( max-width: l.$bp_med ) {
		--ccd-front-intro--avatar--size: 320px;
	}

	// Modules.
	--ccd-owner-avatar--size: 80px;
	@media screen and ( max-width: l.$bp_med ) {
		--ccd-owner-avatar--size: 160px;
	}
}
