///
/// CSS variables defined in
/// the :root pseudoelement
///

@use '../modules/colors';
@use '../modules/layout';
@use '../modules/typography' as typo;

:root {

	// Layout general.
	--ccd-spacing--x: #{layout.$spacing_x};
	--ccd-spacing--y: #{layout.$spacing_y};
	--ccd-wrap--general--max-width: 1280px;
	--ccd-wrap--general--margin: 0 auto;
	--ccd-wrap--general--padding: 0;

	// Borders.
	--ccd-box--border-style: solid;
	--ccd-box--border-width: 1px;
	--ccd-box--border-color: #{colors.$gray_pale};
	--ccd-box--border-color--dark: #{colors.$gray_medium};
	--ccd-box--border: var( --ccd-box--border-style ) var( --ccd-box--border-width ) var( --ccd-box--border-color );
	--ccd-box--border--dark: var( --ccd-box--border-style ) var( --ccd-box--border-width ) var( --ccd-box--border-color--dark );

	// Body & general text.
	--ccd-body--font-family: #{typo.$stack_general};
	--ccd-body--font-size: 1.0625rem;
	--ccd-body--line-height: 1.525;
	--ccd-body--letter-spacing: 0.025em;
;
	--ccd-body--bg-color: #{colors.$body_color};
	--ccd-body--bg-color--dark: #{colors.$body_color_dark};
	--ccd-body--text-color: #{colors.$text_color};
	--ccd-body--text-color--dark: #{colors.$text_color_dark};

	--ccd-display--font-family: #{typo.$stack_display};
	--ccd-display--font-weight: 600;
	--ccd-display--letter-spacing: normal;

	--ccd-text-shadow: 0.05em 0.05em 0.05em #{rgba( $color: black, $alpha: 0.625 )};

	// Links.
	--ccd-link--text-color: #{colors.$theme_secondary};
	--ccd-link--text-color--dark: #{colors.$theme_secondary_light};
	--ccd-link--action--text-color: #{colors.$theme_secondary_light};
	--ccd-link--action--text-color--dark: #{colors.$theme_secondary};

	// Headings.
	--ccd-heading-primary--font-size: 2.25rem;
	--ccd-heading-primary--font-weight: 500;
	--ccd-heading-secondary--font-size: 1.5rem;
	--ccd-heading-secondary--font-weight: 600;
	--ccd-heading-primary--text-color: #{colors.$theme_primary_dark};
	--ccd-heading-secondary--text-color: #{colors.$theme_primary_dark};

	--ccd-body--font-family: #{typo.$stack_general};
	--ccd-body--font-size: 1rem;
	--ccd-body--line-height: 1.5;

	// Site header.
	--ccd-site-header--padding:
		calc( var( --ccd-spacing--y ) / 2 )
		var( --ccd-spacing--x );
	--ccd-site-header--bg-color: #{colors.$theme_primary};
	--ccd-site-header--text-color: #{colors.$white};
	--ccd-site-title--font-weight: 470;
	--ccd-site-title--text-color: #{colors.$white};

	// Page/Post content.
	--ccd-page-title--font-size: 3.25rem;
	--ccd-page-title--font-weight: 500;
}
