///
/// Tabbed content
///

@use 'sass:string';
@use '../modules/functions' as f;
@use '../modules/colors' as c;
@use '../modules/layout' as l;

.tabbed-content {

	.nav-tabs {
		position: relative;
		z-index: 10;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: calc( var( --ccd-spacing--y--quarter ) / 2 ) calc( var( --ccd-spacing--y--quarter ) / 4 );
		transform: translateY( var( --ccd-box--border-width ) );

		@media screen and ( max-width: l.$bp_sm ) {
			display: none;
		}
	}
	.nav-item {
		line-height: 1;
		background-color: #{f.lighten( c.$off_white, 15% )};
		border: var( --ccd-box--border );

		&.active {
			background-color: var( --ccd-body--bg-color );
			border-bottom-color: var( --ccd-body--bg-color );
		}

		a {
			display: inline-block;
			padding: var( --ccd-tabs--list--link, 0.825em 1em );
			color: var( --ccd-body--text-color );
			text-decoration: none;
			cursor: pointer;
		}
	}
	.tab-panel {
		border-top: var( --ccd-box--border );
		padding: var( --ccd-spacing--y ) 0;

		@media screen and ( max-width: l.$bp_sm ) {
			display: block !important;

			&:first-of-type {
				border: none;
			}
		}

		h2 {
			&:first-of-type {
				margin: 0;
			}
		}
	}
}
