///
/// Tabbed content
///

.tabbed-content {

	.nav-tabs {
		position: relative;
		z-index: 10;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: calc( var( --ccd-spacing--y--quarter ) / 2 ) calc( var( --ccd-spacing--y--quarter ) / 4 );
		transform: translateY( var( --ccd-box--border-width ) );
	}
	.nav-item {
		padding: var( --ccd-spacing--y--quarter );
		background-color: var( --ccd-color--off-white );
		border: var( --ccd-box--border );

		&.active {
			background-color: var( --ccd-body--bg-color );
			border-bottom-color: var( --ccd-box--border-color );
		}
	}
	.tab-pane {
		border-top: var( --ccd-box--border );
	}
}
