---
layout: default
---

{{ content }}

{%- assign sections = site.front-page | sort: "order" -%}

{%- if site.projects.size > 0 -%}
{%- for section in sections -%}
	{%- assign slug = section.path | remove: "_front-page/" | remove: section.ext -%}
	{%- unless slug == "projects" or slug == "posts" -%}
		{%- continue -%}
	{%- endunless -%}

	{%- if section.title and section.title != blank %}
	<h2 class="section-heading">{{ section.title }}</h2>
	{%- endif -%}

	{%- if section.content and section.content != blank %}
	<div class="section-content front-page-content">
		{{ section.content -}}
	</div>
	{%- endif -%}

{%- endfor -%}
{%- endif -%}
