---
layout: common
---
{%- assign category = page.category -%}

{%- if page.name -%}

<header class="page-header">
	<h1 class="page-title taxonomy-name"><span class="category-label">Post Category:</span> <span class="category-name">{{ page.name }}</span></h1>

	{%- if page.description -%}
	<p class="page-subtitle taxonomy-description">{{ page.description }}</p>
	{%- endif -%}

</header>

{%- endif -%}


<div class="repository posts-repo repo-view-list">

{%- for post in site.posts -%}
	{%- unless post.categories contains category -%}
		{%- continue -%}
	{%- endunless -%}

	{%- include posts-list.html post = post -%}
{%- endfor -%}

{%- assign per_page = 2 -%}
{%- assign rows = site.posts.size | divided_by: 2.0 | ceil -%}

{%- for i in (1..rows) -%}

	{%- assign offset = forloop.index0 | times: per_page -%}

	<div>
	{%- for post in site.posts limit: per_page offset: offset -%}

		{%- unless post.categories contains category -%}
			{%- continue -%}
		{%- endunless -%}

		{{ post.title }}

	{%- endfor -%}
	</div>

{%- endfor -%}

</div>
