{%- capture body_class -%}
	{%- if page.url == "/" -%}
		{{- "front-page" -}}
	{%- elsif page.url == "/posts/" and page.url != "/" -%}
		{{- site.body_class | append: " blog-page" -}}
	{%- elsif page.layout == "post" -%}
		{{- site.body_class | append: " post-page" -}}
	{%- elsif page.layout == "project" -%}
		{{- site.body_class | append: " project-post" -}}
	{%- else -%}
		{{- site.body_class -}}
	{%- endif -%}
{%- endcapture -%}

{%- capture page_type -%}
	{%- if page.url == "/posts/" and page.url != "/" -%}
		{{- "Blog" -}}
	{%- elsif page.layout == "post" -%}
		{{- "BlogPosting" -}}
	{%- elsif page.page_type -%}
		{{- page.page_type -}}
	{%- else -%}
		{{- site.page_type -}}
	{%- endif -%}
{%- endcapture -%}

{%- if page.page_sidebar == false and paginator.page > 1 -%}
	{%- assign page_sidebar = true -%}
{%- elsif page.page_sidebar == false -%}
	{%- assign page_sidebar = false -%}
{%- else -%}
	{%- assign page_sidebar = site.page_sidebar -%}
{%- endif -%}
<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js" lang="en_US" dir="ltr">
{% include head.html -%}
<body class="{{ body_class }}">
<a class="skip-link screen-reader-text" href="#page-content">Skip to content</a>
	{% include site-header.html -%}
	<div class="page-container" itemscope="itemscope" itemtype="{{ page_type }}">
		<div id='{{ page.name | slugify | remove_last: "-md" }}' class="page-wrap">
			<main class="page-main" role="main" itemscope itemprop="mainContentOfPage">
				{{ content }}
			</main>
			{%- if page_sidebar -%}
			{% include site-sidebar.html -%}
			{%- endif -%}
		</div>
	</div>
	{% include pagination.html %}
	{% include site-footer.html -%}
</body>
</html>
