{%- assign front_page = page.url != "/" -%}

{%- assign body_class = "default-page" -%}
{%- capture body_class -%}
	{%- front_page -%}
		{{- "front-page" -}}
	{%- elsif page.url == "/posts/" and page.url != "/" -%}
		{{- "blog-page" -}}
	{%- endif -%}
{%- endcapture -%}

{%- assign page_type = "WebPage" -%}
{%- if page.page_type -%}
	{%- capture page_type %}{{ page.page_type }}{% endcapture -%}
{%- endif -%}

{%- assign sidebar = true -%}
{%- capture sidebar %}
	{%- if front_page -%}
		{{- sidebar = false -}}
	{%- elsif page.sidebar == false -%}
		{{- sidebar = false -}}
	{%- endif -%}
{%- endcapture -%}

<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js" lang="en_US" dir="ltr">
{% include head.html -%}
<body class="{{ body_class }}">
<a class="skip-link screen-reader-text" href="#page-content">Skip to content</a>
	{% include site-header.html -%}
	<div class="page-container" itemscope="itemscope" itemtype="{{ page_type }}">
		<div id='{{ page.name | slugify | remove_last: "-md" }}' class="page-wrap">
			<main class="page-main" role="main" itemscope itemprop="mainContentOfPage">
				{{ content }}
			</main>
			{%- if sidebar -%}
			{% include site-sidebar.html -%}
			{%- endif -%}
		</div>
	</div>
	{% include site-footer.html -%}
</body>
</html>
