---
layout: common
---
{%- assign paginate_path = page.pagination.permalink | default: site.pagination.permalink | default: site.paginate_path
-%}
{%- assign paginate_first_page_path = paginate_path | replace: 'page:num', '' -%}
{%- assign first_page_path = page.first_page_path | default: paginator.first_page_path | default:
paginate_first_page_path -%}

<article class="page-content">
{{ paginate_first_page_path }}
	{%- if page.title and first_page_path -%}
	<h2 id="{{ page.title | slugify }}" class="page-title">{{ page.title }}</h2>
	{%- elsif page.title -%}
	<h1 id="{{ page.title | slugify }}" class="page-title">{{ page.title }}</h1>
	{%- endif -%}
	{%- if page.subtitle -%}
	<p class="page-subtitle">{{ page.subtitle }}</p>
	{%- endif -%}
	{{ content }}
</article>
