<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js" lang="en_US" dir="ltr">
{% include head.html -%}
<body class="front-page">
	{% include site-header.html -%}
	<div id="front-page-sections" class="page-container front-page-sections" itemscope="itemscope" itemtype="WebPage">
		{{ content }}
	</div>

<!-- Theme scripts. -->
{%- assign js_ver = 'now' | date: "%Y-%m-%d-%H-%M" | prepend: "?v=" %}
<script src="{{ '/assets/js/slider.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/fullpage.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/fullpage.extensions.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/tooltips.min.js' | append: js_ver | relative_url }}"></script>
<script>

// Various jQuery scripts on document ready.
jQuery(document).ready( function($) {

	$( '#front-page-sections' ).fullpage({
		anchors         : [ 'header', 'intro', 'projects', 'posts', 'footer' ],
		lockAnchors     : true,
		// menu            : '#site-navigation',
		navigation      : true,
		dragAndMove     : true,
		sectionSelector : '.front-page-section',
		paddingTop      : 0,
		paddingBottom   : 0,
		// responsiveWidth     : 480,
		// responsiveHeight    : 560,
		scrollOverflow      : true,
		scrollOverflowReset : true,
		afterRender     : function() {
			$( '.intro-slides' ).slick({
				slidesToShow   : 1,
				slidesToScroll : 1,
				autoplay       : true,
				autoplaySpeed  : 4000,
				speed          : 750,
				fade           : true,
				easing         : 'easeInOut',
				adaptiveHeight : false,
				pauseOnHover   : false,
				arrows         : false,
				dots           : false
			});
		},
		afterLoad : function( origin, destination, direction ) {
			var leavingSection = this;
			if ( origin.index == 0 && direction =='down' ) {
				$( '.site-header' ).addClass( 'header-scrolled' );
			}
		},
		onLeave : function( origin, destination, direction ) {
			var leavingSection = this;
			if ( destination.index == 0 ) {
				$( '.site-header' ).removeClass( 'header-scrolled' );
			}
		}
	});
	/*
	// Make FullPage work with id attributes for no JS navigation fallback.
	$( '#site-navigation ul li a' ).click( function() {
		let newSlide = $(this).closest( 'li' ).data( 'menuanchor' )
		$.fn.fullpage.moveTo( newSlide, 1 );
	});
	$(document).on( 'click', '#intro-entry-link', function() {
		fullpage_api.moveSectionDown();
	});
	$( '#site-navigation ul li a' ).click( function() {
		$( '.main-navigation' ).removeClass( 'toggled' );
	});
	*/

	// Custom tooltips.
	$( 'a[data-tooltip]' ).tooltipster({
		distance: 5,
		theme: 'ccdzen'
	});
});
</script>

<!-- Simple Analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

</body>
</html>
