<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js" lang="en_US" dir="ltr">

{%- include head.html -%}

<body class="front-page">

{%- include site-header.html -%}

<div id="front-page-sections" class="page-container front-page-sections" itemscope="itemscope" itemtype="WebPage">
	{{ content }}
</div>
<div class="page-loading">
	<div class="loading-icon"></div>
	<p class="loading-text">{{ site.loading_text | default: "Loading" }}</p>
</div>

<!-- General theme scripts. -->
<script src="{{ '/assets/js/lightbox.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/tooltips.min.js' | relative_url }}"></script>

<!-- Scripts specific to the front page. -->
<script src="{{ '/assets/js/slider.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/fullpage.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/fullpage.extensions.min.js' | relative_url }}"></script>
<script>

// Various jQuery scripts on document ready.
jQuery(document).ready( function($) {

	// Start with header class for slider.
	$( '.site-header' ).addClass( 'header-alt-tp' );

	// FullPage navigation & presentation of sections.
	$( '#front-page-sections' ).fullpage({
		anchors     : [ 'slides', 'intro', 'projects', 'posts', 'footer' ],
		lockAnchors : true,
		navigation  : true,
		showActiveTooltip  : false,
		navigationTooltips : false,
		dragAndMove     : true,
		sectionSelector : '.front-page-section',
		paddingTop      : 0,
		paddingBottom   : 0,
		scrollOverflow      : true,
		scrollOverflowReset : true,
		responsiveWidth     : 800,
		afterLoad : function( origin, destination, direction ) {

			// Add class to the body element.
			var body = document.querySelector( 'body' );
				body.classList.add( 'custom-scroll' );

			// Remove "made with" credit.
			$( '.fp-watermark' ).remove();
		},
		afterRender : function() {

			// Start Slick slideshow.
			$( '#intro-slides' ).slick({
				slidesToShow    : 1,
				slidesToScroll  : 1,
				autoplay        : true,
				autoplaySpeed   : 5500,
				speed           : 750,
				fade            : true,
				easing          : 'easeInOut',
				adaptiveHeight  : false,
				pauseOnHover    : false,
				dots            : false,
				arrows          : true,
				prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M15.5 239c-9.4 9.4-9.4 24.6 0 33.9l160 160c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-143-143 143-143c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0L15.5 239z"/></svg><span class="screen-reader-text"> Previous</span></button>',
                nextArrow: '<button class="slick-next" aria-label="Next" type="button"><span class="screen-reader-text">Next </span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M241.5 239c9.4 9.4 9.4 24.6 0 33.9L81.5 433c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l143-143-143-143c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l160 160z"/></svg></button>'
			});
		},
		onLeave : function( origin, destination, direction ) {

			// Conditional header classes.
			if ( origin.index == 0 && direction =='down' ) {
				$( '.site-header' ).removeClass( 'header-alt-tp' ).addClass( 'header-scrolled' );
				$( '.header-wrap' ).removeClass( 'no-bg' )
			}
			if ( destination.index == 0 ) {
				$( '.site-header' ).removeClass( 'header-scrolled' ).addClass( 'header-alt-tp' );
				$( '.header-wrap' ).addClass( 'no-bg' );
			}
			if ( destination.index == 4 ) {
				$( '.site-header' ).addClass( 'header-alt-01' );
			}
			if ( origin.index == 4 && direction =='up' ) {
				$( '.site-header' ).removeClass( 'header-alt-01' );
			}
		},
		afterResponsive: function( isResponsive ) {
			if ( isResponsive ) {
				$( '.sections-nav' ).hide();
				$( '.front-page-section' ).addClass( 'doing-responsive' );

				var scroll = $(window).scrollTop();
				if ( scroll >= 32 ) {
					$( '.site-header' ).addClass( 'header-scrolled' );
				} else {
					$( '.site-header' ).removeClass( 'header-scrolled' );
				}
			} else {
				$( '.sections-nav' ).show();
				$( '.front-page-section' ).removeClass( 'doing-responsive' );
			}
		}
	});

	// FullPage section navigation buttons.
	$( '.scroll-down' ).click( function() {
		fullpage_api.moveSectionDown();
	});
	$( '.scroll-up' ).click( function() {
		fullpage_api.moveSectionUp();
	});

	// Custom Tooltipster tooltips for `title` attribute content.
	$( 'a[data-tooltip], button[data-tooltip]' ).tooltipster({
		distance: 5,
		delay: 150,
		theme: 'ccdzen'
	});
});

// Remove loading panel after assets/images are loaded.
$(window).on( 'pageshow', function() {
	$( '.page-loading' ).fadeOut( 250 );
});
</script>

<!-- Simple Analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

</body>
</html>
