{%- assign front_slides = site.pages | where: "path", "front-page/slides.md" | first -%}
{%- assign front_intro = site.pages | where: "path", "front-page/intro.md" | first -%}
{%- assign front_projects = site.pages | where: "path", "front-page/projects.md" | first -%}
{%- assign front_posts = site.pages | where: "path", "front-page/posts.md" | first -%}
{%- assign front_footer = site.pages | where: "path", "front-page/footer.md" | first -%}

<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" class="no-js" lang="en_US" dir="ltr">
{% include head.html -%}
<body class="front-page">
	{% include site-header.html -%}
	<div id="front-page-sections" class="page-container front-page-sections" itemscope="itemscope" itemtype="WebPage">
		{{ content }}
	</div>
	<div class="page-loading">
		<p>Loading...</p>
	</div>

<!-- Theme scripts. -->
{%- assign js_ver = 'now' | date: "%Y-%m-%d-%H-%M" | prepend: "?v=" %}
<script src="{{ '/assets/js/slider.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/fullpage.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/fullpage.extensions.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/lightbox.min.js' | append: js_ver | relative_url }}"></script>
<script src="{{ '/assets/js/tooltips.min.js' | append: js_ver | relative_url }}"></script>
<script>

// Various jQuery scripts on document ready.
jQuery(document).ready( function($) {

	$( '#front-page-sections' ).fullpage({
		anchors     : [ 'slides', 'intro', 'projects', 'posts', 'footer' ],
		lockAnchors : true,
		navigation  : false,
		showActiveTooltip  : false,
		navigationTooltips : [
			'{{ front_slides.title | default: "Slideshow" }}',
			'{{ front_intro.title | default: "Introduction" }}',
			'{{ front_projects.title | default: "Featured Projects" }}',
			'{{ front_posts.title | default: "Latest Posts" }}',
			'{{ front_footer.title | default: "More Information" }}'
		],
		dragAndMove     : true,
		sectionSelector : '.front-page-section',
		paddingTop      : 0,
		paddingBottom   : 0,
		scrollOverflow      : true,
		scrollOverflowReset : true,
		afterLoad : function() {
			var body = document.querySelector( 'body' );
				body.classList.add( 'custom-scroll' );

			$( '.fp-watermark' ).remove();
		},
		afterRender : function() {
			$( '#intro-slides' ).slick({
				slidesToShow   : 1,
				slidesToScroll : 1,
				autoplay       : true,
				autoplaySpeed  : 4000,
				speed          : 750,
				fade           : true,
				easing         : 'easeInOut',
				adaptiveHeight : false,
				pauseOnHover   : false,
				arrows         : false,
				dots           : false
			});
		},
		onLeave : function( origin, destination, direction ) {
			var leavingSection = this;
			if ( origin.index == 0 && direction =='down' ) {
				$( '.site-header' ).addClass( 'header-scrolled' );
			}
			if ( destination.index == 0 ) {
				$( '.site-header' ).removeClass( 'header-scrolled' );
			}
			if ( destination.index == 4 ) {
				$( '.site-header' ).addClass( 'header-alt-01' );
			}
			if ( origin.index == 4 && direction =='up' ) {
				$( '.site-header' ).removeClass( 'header-alt-01' );
			}
		}
	});
	$( '.scroll-down' ).click( function() {
		// $.fn.fullpage.moveSectionDown();
	});
	$( '.scroll-up' ).click( function() {
		// $.fn.fullpage.moveSectionUp();
	});

	// Custom tooltips.
	$( 'a[data-tooltip]' ).tooltipster({
		distance: 5,
		theme: 'ccdzen'
	});

	// Remove loading panel.
	$( '.page-loading' ).delay( 150 ).fadeOut( 250 );
});
</script>

<!-- Simple Analytics -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

</body>
</html>
