---
layout: default
---
{%- assign posts = page.posts | default: site.posts %}
{%- assign posts_limit = page.posts_limit | default: site.posts_limit | default: site.paginate %}
{% assign paginate_path = page.pagination.permalink | default: site.pagination.permalink | default: site.paginate_path
%}
{% assign paginate_first_page_path = paginate_path | replace: 'page:num', '' %}
{% assign first_page_path = page.first_page_path | default: paginator.first_page_path | default:
paginate_first_page_path %}

{%- if content != blank %}
{{ content }}
{%- endif %}

{%- assign front_page = site.pages | where: "path", "front.md" | first -%}
{{ front_page.content }}

{%- if posts.size > 0 and page.url == "/" %}
<h2>Latest post</h2>
{%- include post-timeline.html posts = posts limit = 1 index = first_page_path %}
{%- endif %}
