{%- assign projects = site.projects | sort: "featured" -%}

{%- if module.title and module.title != blank -%}
<h3>{{ module.title }}</h3>
{%- endif -%}
<h1>Hello.</h1>
{%- if module.content and module.content != blank -%}
<div class="module-content">{{ module.content }}</div>
{%- endif -%}

{%- if projects.size > 0 -%}

<ul class="module-featured-list">
{%- for project in projects -%}

	{%- unless project.featured and project.featured != blank -%}
		{%- continue -%}
	{%- endunless -%}

	<li class="module-featured-item">
		<a href="{{ project.url }}" class="module-featured-link">{{ project.title }}</a>
		{%- if project.subtitle %}
		<span class="module-featured-subtitle">{{ project.subtitle }}</span>
		{% endif -%}
	</li>
{%- endfor -%}
</ul>

{%- else -%}
<p>No projects found</p>
{%- endif -%}
