---
layout: default
---
{%- assign posts = page.posts | default: site.posts %}
{%- assign posts_limit = page.posts_limit | default: site.posts_limit | default: site.paginate %}
{% assign paginate_path = page.pagination.permalink | default: site.pagination.permalink | default: site.paginate_path
%}
{% assign paginate_first_page_path = paginate_path | replace: 'page:num', '' %}
{% assign first_page_path = page.first_page_path | default: paginator.first_page_path | default:
paginate_first_page_path %}

{%- if content != blank %}
{{ content }}
{%- endif %}

{%- assign front_intro = site.pages | where: "path", "front-page/intro.md" | first -%}
{%- assign front_projects = site.pages | where: "path", "front-page/projects.md" | first -%}
{%- assign front_posts = site.pages | where: "path", "front-page/posts.md" | first -%}

<section id="front-page-intro" class="front-page-section">

	{%- if page.title -%}
	<header class="page-header">
		<h2 id="{{ page.title | slugify }}" class="page-title">{{ page.title }}</h2>

		{%- if page.subtitle -%}
		<p class="page-subtitle">{{ page.subtitle }}</p>
		{%- endif -%}

	</header>
	{%- endif -%}

	<div class="front-page-content">
		{{ front_intro.content | markdownify }}
	</div>
</section>

<section id="front-page-projects" class="front-page-section">
{{ site.projects }}
	<h2>Featured Projects</h2>
	<div class="front-page-content">
		{{ front_projects.content | markdownify -}}
	</div>

	{%- include featured-projects-grid.html projects = site.projects -%}

</section>

{%- if posts.size > 0 and page.url == "/" -%}

<section id="front-page-posts" class="front-page-section">

	<h2>Latest Posts</h2>
	<div class="front-page-content">
		{{ front_posts.content | markdownify -}}
	</div>

	{%- include featured-posts-grid.html posts = site.posts limit = 3 index = first_page_path -%}

	{%- if featured_posts.size > timeline_post_limit and timeline_index != blank -%}
	<p class="featured-all"><a href="{{ timeline_index | relative_url }}" class="featured-all-link">All Posts</a></p>
	{%- endif -%}

</section>

{%- endif -%}
