---
layout: common
---

{%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}

{%- assign categories  = "" | split: "," -%}
{%- for category in site.category -%}

	{%- unless page.categories contains category.slug -%}
		{%- continue -%}
	{%- endunless -%}

	<!-- Push to array -->
	{%- assign categories = categories | push: category -%}
{% endfor %}

{%- assign tags  = "" | split: "," -%}
{%- for tag in site.tag -%}

	{%- unless page.tags contains tag.slug -%}
		{%- continue -%}
	{%- endunless -%}

	<!-- Push to array -->
	{%- assign tags = tags | push: tag -%}
{% endfor %}

{%- if page.post_image -%}
	{%- assign image_dir = page.date | date: "posts/images/%Y/%m/" | append: page.slug | append: "/" -%}
	{%- assign image_src = image_dir | append: page.post_image -%}
{%- else -%}
	{%- assign image_src = "assets/img/site-image.jpg" -%}
{%- endif -%}

{%- capture next_icon -%}
	{% include svg/arrow-left.svg %}
{%- endcapture -%}
{%- capture prev_icon -%}
	{% include svg/arrow-right.svg %}
{%- endcapture -%}

<article class="main-article post-article">
{{ page.tags | split: "," | inspect }}
	<section class="post-cover">

		<figure class="post-image">
			<img src="{{ image_src | absolute_url }}" role="presentation" />
		</figure>

		<div>
			<header class="post-header">

				{%- if page.title -%}
				<h2 class="page-title post-title">{{ page.title }}</h2>
				{%- endif -%}

				{%- if page.subtitle -%}
				<p class="page-subtitle post-subtitle">{{ page.subtitle }}</p>
				{%- endif -%}

			</header>

		</div>
	</section>

	<footer class="post-footer">

		<div class="post-footer-date">
			<span class="post-footer-icon post-date-icon" role="presentation">{%- include svg/clock.svg -%} </span>
			<span class="post-footer-label post-date-label">Posted:</span>
			<span class="post-footer-date">{{ page.date | date: date_format }}</span>
		</div>

		{%- if page.categories -%}
		<div class="post-footer-tax post-footer-cats">
			<span class="post-footer-icon post-cats-icon" role="presentation">{%- include svg/folder.svg -%} </span>
			<span class="post-footer-label post-cats-label">Category:</span>
			<span class="post-footer-links post-cats-links">
			{%- for cat in categories -%}
				<span><a href="{{- '/category/' | absolute_url -}}{{- cat.slug -}}">{{- cat.name -}}</a>{%- unless forloop.last -%}, {%- endunless -%}</span>
			{%- endfor -%}
			</span>
		</div>
		{%- endif %}

		{%- if page.tags -%}
		<div class="post-footer-tax post-footer-tags">
			<span class="post-footer-icon post-tags-icon" role="presentation">{%- include svg/tag.svg -%} </span>
			<span class="post-footer-label post-tags-label">Tags:</span>
			<span class="post-footer-links post-tags-links">
			{%- for tag in tags -%}
				<span><a href="{{- '/tag/' | absolute_url -}}{{- tag.slug -}}">{{- tag.name -}}</a>{%- unless forloop.last -%}, {%- endunless -%}</span>
			{%- endfor -%}
			</span>
		</div>
		{%- endif -%}

	</footer>

	<div class="post-content">
		{{ content }}
	</div>

</article>

{%- if page.post_gallery -%}
<section id="post-gallery" class="post-section">

	<h2>{{ page.post_gallery }}</h2>

	{%- include post-gallery.html folder = image_dir -%}

</section>
{%- endif -%}

{%- unless page.related_posts == false -%}
{%- include related-posts.html -%}
{%- endunless -%}

<section id="post-navigation" class="post-section">
	<nav>
		<ul class="post-navigation">
			{%- if page.next.url %}
			<li class="post-next">
				<a class="post-nav-link post-next-link" href="{{ page.next.url | relative_url }}" title="{{page.next.title | strip_html | xml_escape}}" data-tooltip><span class="post-nav-icon">{{ next_icon }}</span> <span class="post-nav-text">Next Post</span></a>
			</li>
			{%- endif %}
			<li><a href="{{ site.posts_permalink | relative_url }}" title="Explore posts archive" data-tooltip>All Posts</a></li>
			{%- if page.previous.url %}
			<li class="post-prev">
				<a class="post-nav-link post-prev-link" href="{{ page.previous.url | relative_url }}" title="{{page.previous.title | strip_html | xml_escape}}" data-tooltip><span class="post-nav-text">Previous Post</span> <span class="post-nav-icon">{{ prev_icon }}</span></a>
			</li>
			{%- endif -%}
		</ul>
	</nav>
</section>

{%- unless page.comments == false %}
<section id="post-comments" class="post-section">

	<h2>Post Comments</h2>

	<!-- Comments form inserted by Utterances script. -->
	<script
		src="https://utteranc.es/client.js"
		repo="ControlledChaos/controlledchaos.github.io"
		issue-term="title"
		label="Comments"
		theme="boxy-light"
		crossorigin="anonymous"
		async>
	</script>
</section>
{% endunless -%}
