---
layout: common
---

{%- if page.post_image -%}
	{%- assign image_dir = page.date | date: "posts/images/%Y/%m/" | append: page.slug | append: "/" -%}
	{%- assign image_src = image_dir | append: page.post_image -%}
{%- else -%}
	{%- assign image_src = "assets/img/site-image.jpg" -%}
{%- endif -%}

{%- capture next_icon -%}
	{% include svg/arrow-left.svg %}
{%- endcapture -%}
{%- capture prev_icon -%}
	{% include svg/arrow-right.svg %}
{%- endcapture -%}

<article class="post">

	{%- if page.title %}
	<h2 class="page-title">{{ page.title }}</h2>
	{% endif -%}

	{%- if page.subtitle %}
	<p class="page-subtitle">{{ page.subtitle }}</p>
	{% endif -%}

	<figure class="post-image">
		<a href="{{ image_src | absolute_url }}" data-fancybox>
			<img src="{{ image_src | absolute_url }}" />
		</a>
	</figure>

	{{ content }}

	{%- if page.category %}
	<div class="post-cats">
		<span class="post-cats-label">Category:</span>
		<span class="post-cats-list">
		{% for cat in page.category %}
		<a href="{{ '/category' | absolute_url }}{{- cat | slugify -}}"> {{- cat -}} </a>
		{%- endfor -%}
		</span>
	</div>
	{%- endif %}

	{%- if page.tags.size > 0 -%}
	<div class="post-tags">
		<span class="post-tags-label">Tags:</span>
		<span class="post-tags-list">
		{%- for tag in page.tags -%}
		<a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag | capitalize -}}</a>
		{%- endfor -%}
		</span>
	</div>
	{%- endif -%}
</article>

{%- if page.post_gallery -%}
<section id="post-gallery">

	<h2>{{ page.post_gallery }}</h2>

	{%- include post-gallery.html folder = image_dir -%}

</section>
{%- endif -%}

{%- assign related = page.related_posts | default: "Related Posts" -%}
{%- unless related == false -%}
{%- include related-posts.html heading = related -%}
{%- endunless -%}

<section id="post-navigation">
	<nav>
		<ul class="post-navigation">
			{%- if page.next.url %}
			<li class="post-next">
				<a class="post-next-link" href="{{ page.next.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title | strip_html | xml_escape}}">{{ next_icon }} Next Post</a>
			</li>
			{%- endif %}
			<li><a href="{{ site.posts_permalink | relative_url }}">All Posts</a></li>
			{%- if page.previous.url %}
			<li class="post-prev">
				<a class="post-prev-link" href="{{ page.previous.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title | strip_html | xml_escape}}">Previous Post {{ prev_icon }}</a>
			</li>
			{%- endif -%}
		</ul>
	</nav>
</section>

{%- if page.comments %}
<section id="post-comments">

	<h2>Post Comments</h2>

	<!-- Comments form inserted by Utterances script. -->
	<script
		src="https://utteranc.es/client.js"
		repo="ControlledChaos/controlledchaos.github.io"
		issue-term="title"
		label="Comments"
		theme="boxy-light"
		crossorigin="anonymous"
		async>
	</script>
</section>
{% endif -%}
