---
layout: default
pagination:
  enabled: true
  permalink: /projects/:name/
---
<ul class="posts-list" role="list">
{% for project in site.projects limit: 9 -%}

	{%- assign post_image = "" -%}
	{%- capture post_image -%}
		{%- if project.post_image -%}
			{{ project.post_image }}
		{%- else -%}
			{{ site.post_image }}
		{%- endif -%}
	{%- endcapture -%}

	<li>
		<img src="{{ '/posts/images/' | append: post_image | absolute_url }}" alt="" />
		<a href="{{ project.url | relative_url }}">{{ project.title }}</a>
	</li>
{%- endfor -%}
</ul>
