---
layout: default
---

{%- assign tabs = page.tabs -%}
{%- assign slug = page.name | remove: '.md' | remove: '.html' -%}

<div class='tabbed-content' data-toggle="tabslet" data-deeplinking="true" data-animation="true">

	<ul class="nav nav-tabs" id="nav-tabs" role="tablist">

	{%- for tab in tabs -%}

		<li class="nav-item">
			<a class="nav-link" role="tab" aria-controls="{{ tab.section }}" aria-selected="false" href="#{{ tab.section }}">{{ tab.tab }}</a>
		</li>

	{%- endfor -%}

	</ul>

	{%- for tab in tabs -%}

	{%- assign section = slug | append: '-' | append: tab.section -%}

	<div id="{{ tab.section }}" class="tab-pane" role="tabpanel" aria-labelledby="{{ tab.section }}" style="display: none">

		<h2>{{ tab.heading }}</h2>

		{%- include tabs/{{ section }}.html tab = tab -%}
	</div>

	{%- endfor -%}

</div>
