---
layout: default
---
{%- assign tabs = page.tabs -%}
{%- assign slug = page.name | remove: page.ext -%}

<div class='tabbed-content' data-toggle="tabslet" data-deeplinking="true" data-animation="true">

	<ul class="nav nav-tabs" id="nav-tabs" role="tablist">

	{%- for tab in tabs -%}

	{%- if forloop.first -%}
		{%- assign class = 'nav-item active' -%}
	{%- else -%}
		{%- assign class = 'nav-item' -%}
	{%- endif -%}

		<li class="{{ class }}">
			<a class="nav-link" role="tab" aria-controls="{{ tab.section }}" aria-selected="false" href="#{{ tab.section }}">{{ tab.tab }}</a>
		</li>

	{%- endfor -%}

	</ul>

	{%- for tab in tabs -%}

	{%- if forloop.first -%}
		{%- assign class = 'tab-pane active' -%}
	{%- else -%}
		{%- assign class = 'tab-pane' -%}
	{%- endif -%}

	{%- assign section = slug | append: '-' | append: tab.section -%}

	<div id="{{ tab.section }}" class="tab-pane" role="tabpanel" aria-labelledby="{{ tab.section }}" style="display: none">
		{{ section | inspect }}
	</div>

	{%- endfor -%}

</div>
