---
layout: default
---

{%- assign tabs = page.tabs -%}
{%- assign slug = page.name | remove: '.md' | remove: '.html' -%}
{%- capture hash -%}
	{%- if page.tabs_hash == false -%}
		{{ false }}
	{%- else -%}
		{{ true }}
	{%- endif -%}
{%- endcapture -%}

{{ content }}

<div class='tabbed-content' data-toggle="tabslet" data-deeplinking="{{ hash }}" data-animation="true">

	<ul class="nav nav-tabs" id="nav-tabs" role="tablist">

	{% for tab in tabs %}

		<li class="nav-item">
			<a class="nav-link" role="tab" aria-controls="{{ tab.section }}" aria-selected="false" href="#{{ tab.section }}">{{ tab.tab }}</a>
		</li>

	{% endfor %}

	</ul>

	{%- for tab in tabs -%}

	{% assign section = slug | append: '-' | append: tab.section %}

	<div id="{{ tab.section }}" class="tab-panel" role="tabpanel" aria-labelledby="{{ tab.section }}" style="display: none">

		<h2 class="tab-title">{{ tab.title }}</h2>
		{% if tab.subtitle != blank %}
		<p class="tab-subtitle">{{ tab.subtitle }}</p>
		{% endif %}

		{% include tabs/{{ section }}.html tab = tab %}
	</div>

	{% endfor %}

</div>
