---
layout: default
---
{%- assign tags = site.tag | sort -%}

{%- if tags.size > 0 -%}
<ul class="taxonomy-index tags-index">
	{%- for tag in tags -%}
	{%- assign slug  = tag.slug -%}

	<li class="taxonomy-index-item tags-index-item">

		<a href="{{- '/tag/' | absolute_url -}}{{- tag.slug -}}" class="taxonomy-index-link tags-index-link">{{ tag.name }}</a>
		{% for count in site.tags %}
			{%- if slug != count[0] -%}
				{%- continue -%}
			{%- endif -%}

			{%- capture type -%}
				{%- if count[1].size == 1 -%}
					{{ post }}
				{%- else -%}
					{{ posts }}
				{%- endif -%}
			{%- endcapture -%}

			( {{ count[1].size }} {{ type }} )
		{% endfor %}

		{%- if tag.description != blank -%}
		<span class="taxonomy-index-description tags-index-description">{{ tag.description }}</span>
		{%- endif -%}
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}
