{%- assign projects = site.projects | sort: "featured" -%}
{%- assign module   = include.module -%}

<div class="sidebar-block sidebar-featured-projects">

	{%- if module.title and module.title != blank -%}
	<h3>{{ module.title }}</h3>
	{%- endif -%}

	{%- if module.content and module.content != blank -%}
	<div class="module-content">{{ module.content }}</div>
	{%- endif -%}

	{%- if projects.size > 0 -%}

	<ul class="sidebar-featured-list">
	{%- for project in projects -%}

		{%- unless project.featured and project.featured != blank -%}
			{%- continue -%}
		{%- endunless -%}

		<li class="sidebar-featured-item">
			<a href="{{ project.url }}" class="sidebar-featured-link">{{ project.title }}</a>
			{%- if project.subtitle %}
			<span class="sidebar-featured-subtitle">{{ project.subtitle }}</span>
			{% endif -%}
		</li>
	{%- endfor -%}
	</ul>

	{%- else -%}
	<p>No projects found</p>
	{%- endif -%}
</div>
