{%- assign latest_limit = site.latest_limit | default: 5 -%}
{%- assign posts = site.posts -%}
{%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
{%- assign module = include.module -%}

{%- if module.title and module.title != blank -%}
<h3>{{ module.title }}</h3>
{%- endif -%}

{%- if module.content and module.content != blank -%}
<div class="module-content">{{ module.content }}</div>
{%- endif -%}

{%- if posts.size > 0 -%}

<ul class="module-latest-list">
{%- for post in posts limit: latest_limit -%}
	<li class="module-latest-item">
		<a href="{{ post.url }}" class="module-latest-link">{{ post.title }}</a>
		<time class="module-latest-date">{{ post.date | date: date_format }}</time>
		{% for cat in post.category %}
		<span class="inline-svg">{% include svg/folder.svg %}</span> <span class="module-latest-cats">{{ cat }}</span>
		{%- endfor -%}
	</li>
{%- endfor -%}
</ul>

{%- else -%}
<p>No posts found</p>
{%- endif -%}
