{%- assign module = include.module -%}
{%- assign links  = site.owner.links -%}
{%- assign src    = site.owner.avatar.file | prepend: "assets/img/" -%}

{%- if module.title -%}
<h3>{{ module.title }}</h3>
{%- endif -%}

<div class="owner-module-wrap">
	<figure class="owner-avatar">
		<a href="{{ src | relative_url }}" title="{{ site.owner.avatar.caption }}" data-tooltip data-fancybox data-caption="{{ site.owner.avatar.caption }}">
			<img src="{{ src | relative_url }}" alt="{{ site.owner.avatar.alt }}" class="avatar" />
		</a>
		<figcaption class="screen-reader-text">{{ site.owner.avatar.caption }}</figcaption>
	</figure>
	<div class="owner-info">

		{%- if module.content and module.content != blank -%}
			{{ module.content }}
		{%- endif -%}

		{%- if links.size > 0 -%}
		<ul class="owner-links">

			{%- for link in links -%}
			<li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.name }}</a></li>
			{%- endfor -%}

		</ul>
		{%- endif -%}

	</div>
</div>
